<form name="loginForm" [formGroup]="loginForm" novalidate>

  <mat-form-field appearance="outline">
      <mat-label>{{'common.word.userName' | translate}}</mat-label>
      <input matInput formControlName="userName">
      <mat-error *ngIf="loginFormErrors.userName.required">
          {{'common.message.userNameIsRequired' | translate}}
      </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label>{{'common.word.password' | translate}}</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="loginFormErrors.password.required">
        {{'common.message.passwordIsRequired' | translate}}
      </mat-error>
  </mat-form-field>

  <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
       fxLayoutAlign="space-between center">
      <mat-checkbox class="remember-me" aria-label="{{'common.message.rememberMe' | translate}}" formControlName="rememberMe">
        {{'common.message.rememberMe' | translate}}
      </mat-checkbox>

      <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
        {{'common.message.forgotPassword' | translate}}
      </a>
  </div>
</form>