<form *ngIf="visible" [formGroup]="oForm" novalidate class="w-100-p" fxLayout="column" fxFlex autocomplete="off">
    <mat-card>
        <mat-card-content>
            <h2 class="title">{{titleId|translate}} 
                <button [disabled]="!selectedAnyCheckbox || loadingIndicator" mat-raised-button (click)="load()" class="ml-4" color="accent"><mat-icon>{{iconName}}</mat-icon> {{buttonId | translate}}</button>
            </h2>

            <section class="section">
                <label>
                    <input type="checkbox" class="margin" formControlName="selectAll" [attr.disabled]="loadingIndicator ? true : null">
                    {{'common.title.selectDeselectAll'|translate}}
                </label>
                <label formArrayName="formarray"
                    *ngFor="let item of oFArray.controls; let i = index">
                    <input type="checkbox" class="margin" [formControlName]="i" [attr.disabled]="loadingIndicator ? true : null">{{items[i].name}}
                </label>
            </section>
        </mat-card-content>
    </mat-card>
    <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
</form>