<div class="mt-16" [formGroup]="oForm" novalidate fxLayout="column" fxLayoutGap="1em" autocomplete="off">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em" *ngIf="updatedDatesExists">
      <mat-form-field appearance="outline" fxFlex>
          <mat-label>수정인</mat-label>
          <input matInput name="updatedUser" formControlName="updatedUser" readonly="readonly">
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex>
          <mat-label>수정일</mat-label>
          <input matInput name="updatedUtc" formControlName="updatedUtc" readonly="readonly">
      </mat-form-field>      
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em" *ngIf="createdDatesExists">
      <mat-form-field appearance="outline" fxFlex>
          <mat-label>등록인</mat-label>
          <input matInput name="createdUser" formControlName="createdUser" readonly="readonly">
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex>
          <mat-label>등록일</mat-label>
          <input matInput name="createdUtc" formControlName="createdUtc" readonly="readonly">
      </mat-form-field>      
  </div>  
</div>
