<div [formGroup]="oForm" novalidate fxLayout="column" fxLayoutGap="1em" autocomplete="off" *ngIf="visible && mode=='textBox'">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em">
        <mat-form-field appearance="outline" class="w-100-p">
            <mat-label>{{textLabelName}}</mat-label>
            <input matInput name="user" formControlName="user" [value]="infoText"
                readonly="readonly" (click)="onClick()" class="link-cursor auto-size">
        </mat-form-field>
    </div>
</div>

<button mat-raised-button (click)="onClick()" *ngIf="visible && mode=='button'" style="color: gray;">
    <mat-icon>{{iconName}}</mat-icon>
    {{infoText}}
</button>