<form [formGroup]="oForm" novalidate class="w-100-p" fxLayout="column" fxFlex autocomplete="off">
      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>{{'common.word.code' | translate}}</mat-label>
        <input matInput name="code" formControlName="code" required maxlength="3" class="to-uppercase">
        <mat-error *ngIf="hasEntryError('code')">{{errorMessage('code')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>{{'common.word.memo' | translate}}</mat-label>
        <input matInput name="name" formControlName="name" required maxlength="200">
        <mat-hint align="end">{{getControl('name').value?.length || 0}}/200</mat-hint>
        <mat-error *ngIf="hasEntryError('name')">{{errorMessage('name')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>Symbol</mat-label>
        <input matInput name="symbol" formControlName="symbol" required maxlength="10">
        <mat-hint align="end">{{getControl('symbol').value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="hasEntryError('symbol')">{{errorMessage('symbol')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>Decimal Point</mat-label>
        <input matInput name="decimalPoint" formControlName="decimalPoint" required>
        <mat-error *ngIf="hasEntryError('decimalPoint')">{{errorMessage('decimalPoint')}}</mat-error>        
      </mat-form-field>

      <mat-checkbox formControlName="activated">Activated</mat-checkbox>

      <olive-entity-date [item]="item" (formReady)="formInitialized('date', $event)"></olive-entity-date>
</form>
