:host {
    .right {
        text-align: right;
    }

    .justify-end {
        justify-content: flex-end;
    }

    .justify-center {
        justify-content: center;
    }

    .mat-table {
        width: 1100px;
    }

    .mat-column-supplier {
        flex: 0 1 140px;
    }

    .mat-column-purchaseOrderId26 {
        flex: 0 1 130px;
    }

    .mat-column-productVariantId26 {
        flex: 0 1 130px;
    }

    .mat-column-productName {
        flex: 0 1 550px;
    }

    .mat-column-quantity {
        flex: 0 1 80px;
    }

    .mat-column-balance {
        flex: 0 1 80px;
    }

    .mat-column-price {
        flex: 0 1 80px;
    }

    .mat-column-quantityDue {
        flex: 0 1 100px;
    }

    .mat-column-remark {
        flex: 0 1 75px;
    }

    .mat-column-actions {
        flex: 0 1 70px;
        justify-content: center;
    }

    .small-font {
        font-size: 10px;
    }

    .highlightrow {
        background: cornsilk;
    }

    .mat-input-element.ng-invalid.ng-touched.olive-error {
        border: 1px solid red;
        color: red;
    }
}