<form [formGroup]="oForm" (keydown.enter)="false">
  <mat-table [dataSource]="dataSource" formArrayName="formArray">
    <mat-header-row *matHeaderRowDef="displayedColumns">
    </mat-header-row>

    <mat-footer-row *matFooterRowDef="displayedColumns">
    </mat-footer-row>

    <mat-row *matRowDef="let row; columns: displayedColumns; let i=index" #cdkrow [ngClass]="{'highlightrow': (currentRow) && row.ObjId == currentRow.ObjId}"
      (click)="currentRow=row;">
    </mat-row>

    <ng-container matColumnDef="purchaseOrderId26">
      <mat-header-cell *matHeaderCellDef>{{'purchasing.inWarehouseItems.purchaseOrderId' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-center">{{getPurchaseOrderId(row.Obj)}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>    

    <ng-container matColumnDef="productVariantId26">
      <mat-header-cell *matHeaderCellDef>{{'purchasing.inWarehouseItems.productVariantId' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-center">{{id26(row.Obj.productVariantShortId)}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="supplier">
      <mat-header-cell *matHeaderCellDef>{{'purchasing.inWarehouseItems.supplier' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-center">{{row.Obj.supplierName}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>    

    <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef>{{'purchasing.inWarehouseItems.name' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.Obj.productName}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="balance">
      <mat-header-cell *matHeaderCellDef>{{balanceHeaderName}}</mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-end pr-4">{{row.Obj.balance|number:'1.0-0'}}</mat-cell>
      <mat-footer-cell *matFooterCellDef class="justify-end pr-4">{{totalBalance|number:'1.0-0'}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="appliedCost">
      <mat-header-cell *matHeaderCellDef>{{'purchasing.inWarehouseItems.appliedCost' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-end pr-4">{{numberFormat(row.Obj.appliedCost, standCurrency.decimalPoint)}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>
    
    <ng-container matColumnDef="quantityDue">
      <mat-header-cell *matHeaderCellDef>{{'purchasing.inWarehouseItems.quantityDue' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-end pr-4">{{numberFormat(row.Obj.appliedCost*row.Obj.quantity, standCurrency.decimalPoint)}}</mat-cell>
      <mat-footer-cell *matFooterCellDef class="justify-end pr-4">{{numberFormat(totalQuantityDue, standCurrency.decimalPoint)}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>{{(isVoidMode ? 'purchasing.voidPurchaseOrderItems.quantity' : 'purchasing.inWarehouseItems.quantity') | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i" [matTooltip]="arrayErrorMessage('quantity',i)">
        <mat-form-field fxFlex='95%'>
          <input name="inputQuantity{{row.ObjId}}" class="right olive-error" matInput formControlName="quantity"
            (change)="onChange($event)" (keyup)="onKeyup($event)" (blur)="onBlur($event)" (input)="updateBalance(i)" [disableControl]="isReadOnlyRow(row.Obj) || readOnly">
          <mat-error *ngIf="hasArrayEntryError('quantity',i)">{{'common.validate.error' | translate}}</mat-error>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef class="justify-end pr-4">{{totalQuantity|number:'1.0-0'}}</mat-footer-cell>
    </ng-container>    

    <ng-container matColumnDef="remark">
      <mat-header-cell *matHeaderCellDef>{{'purchasing.inWarehouseItems.remark' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
        <mat-form-field fxFlex='95%'>
          <input name="inputRemark{{row.ObjId}}" matInput type="text" formControlName="remark" (change)="onChange($event)"
            (keyup)="onKeyup($event)" (blur)="onBlur($event)" [disableControl]="readOnly">
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-button color="primary" matTooltip="{{'common.button.add' | translate}}" (click)="lookupPurchaseOrder()" [disabled]="!canAddItems">
          <mat-icon class="mat-button-icon">add</mat-icon>{{'common.button.add' | translate}}
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-center">
        <button mat-icon-button matTooltip="{{'common.button.delete' | translate}}" (click)="deleteItem(row)" [disabled]="isReadOnlyRow(row.Obj)">
          <mat-icon [ngClass]="{'foreground-red': !isReadOnlyRow(row.Obj) && !readOnly, 'foreground-disabled': isReadOnlyRow(row.Obj) || readOnly}">delete</mat-icon>
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

  </mat-table>
  <mat-error *ngIf="noItemCreatedError && touched">{{'common.message.noItemCreated' | translate}}</mat-error>
  <mat-error *ngIf="balanceIsMinusError && touched">{{'common.message.balanceIsMinus' | translate}}</mat-error>
  <mat-error *ngIf="allZeroQuantityError && touched">{{'common.message.allZeroQuantityError' | translate}}</mat-error>
</form>
