<div id="home" class="page-layout simple" fusePerfectScrollbar>

  <section id="banner">
    <div class="inner" fxLayout="column" fxLayoutAlign="center center">
      <header>
        <h1>Welcome to GPS LOGIX</h1>
      </header>

      <div class="flex ">

        <div>
          <mat-icon class="s-48 icon">contact_phone</mat-icon>
          <h3>믿을수 있는 맞춤 서비스</h3>
          <p>고객사의 요구를 항상 귀기울이고 있습니다.</p>
        </div>

        <div>
          <mat-icon class="s-48 icon">local_shipping</mat-icon>
          <h3>무료 픽업</h3>
          <p>기업회원을 위한 무료픽업 서비스 제공</p>
        </div>

        <div>
          <mat-icon class="s-48 icon">computer</mat-icon>
          <h3>최고의 전산시스템</h3>
          <p>고객 편의를 위해 새롭게 개발 하였습니다.</p>
        </div>

      </div>

      <footer>
        <a [routerLink]="'/'" class="glass-button">고객사 등록</a>
      </footer>
    </div>
  </section>

  <olive-help-by-category></olive-help-by-category>
</div>
