<form [formGroup]="oForm" novalidate fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto" fxLayoutGap="12px" autocomplete="off">
    <olive-pending-order-ship-out-list [warehouse]="warehouse" [index]="index"
        (shipOutFinished)="onShipOutFinished($event)" (reload)="onReload($event)" fxFlex="50">
    </olive-pending-order-ship-out-list>
    <olive-pending-order-ship-out-package-list [warehouse]="warehouse" 
        (packagesCanceled)="onShipOutPackageCanceled()" fxFlex="50"></olive-pending-order-ship-out-package-list>
</form>