:host {
    table {
        th:nth-child(1) {
            width: 20px;
        }

        th.id {
            width: 110px;
        }

        th.supplier {
            width: 90px;
        }

        th.warehouse {
            width: 90px;
        }        

        th.total-amount {
            width: 70px;
        }

        th.payments-name {
            width: 70px;
        }
        
        th.in-warehouse-status {
            width: 50px;
        }
        
        th.finish-link {
            width: 50px;
        }

        th.print-link {
            width: 50px;
        }
        
        td:nth-child(1), 
        td.id,
        td.warehouse,
        td.payments-name,
        td.in-warehouse-status,
        td.finish-link,
        td.print-link,
        td.supplier
        {
            text-align: center;
        }

        td.items-name {
            text-align: justify;
        }

        td.total-amount {
            text-align: right;
        }
    }
}
