  <mat-form-field appearance="outline" class="w-100-p">
    <mat-label>{{placeholder}}</mat-label>
    <mat-select #dropDownCtrl [formControl]="dropDown">
      <mat-option *ngIf="items && items.length > 1">{{'common.message.chooseOption' | translate}}</mat-option>
      <mat-option *ngFor="let item of items" [value]="item.id">
        {{item.name}}
      </mat-option>
    </mat-select>
    <!-- <mat-error *ngIf="hasEntryError('weightTypeCode')">{{errorMessage('weightTypeCode')}}</mat-error> -->
  </mat-form-field>

