:host {
    table {
        th.item-id {
            width: 50px;
        }

        th.quantity {
            width: 50px;
        }

        th.balance {
            width: 50px;
        }

        th.in-warehouse-id {
            width: 80px;
        }

        td.item-id,
        td.in-warehouse-id
        {
            text-align: center;
        }

        td.item-name {
            text-align: justify;
        }

        td.quantity, 
        td.balance {
            text-align: right;
        }
    }
}
