<h1 *ngIf="showTitle" mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>

    <p *ngIf="!isPrompt" [innerHTML]="htmlMessage"></p>

    <mat-form-field appearance="outline" *ngIf="isPrompt" style="width: 100%;">
        <mat-label>{{message}}</mat-label>
        <input matInput [(ngModel)]="result" />
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="ok()" color="warn">{{okLabel}}</button>
    <button mat-raised-button (click)="cancel()" *ngIf="showCancel">{{cancelLabel}}</button>
</div>