<mat-progress-bar *ngIf="isloading" mode="query"></mat-progress-bar>
<table id="{{tableId}}-top" class="w-100-p">
    <tr>
        <td class="w-70-p left">
            <button [disabled]="!selectedPackages.length || isloading" mat-raised-button color="basic"
                (click)="cancelShipOutPackages()">
                <mat-icon>cancel</mat-icon>
                {{'common.button.cancelShipOut' | translate}}{{remarkSelectedPackages}}
            </button>
            <button [disabled]="!selectedPackages.length || isloading" mat-raised-button color="basic"
                class="ml-4" (click)="finishShipOutPackage()">
                <mat-icon>local_shipping</mat-icon>
                {{'common.button.finishShipOutPackage' | translate}}
            </button>
            <button [disabled]="!selectedPackages.length || isloading" [matMenuTriggerFor]="misc"
                [disabled]="isloading" mat-raised-button class="right ml-4"
                matTooltip="{{'common.button.misc' | translate}}">
                <mat-icon>dialpad</mat-icon>
            </button>

            <mat-menu #misc="matMenu">
                <button [disabled]="!selectedPackages.length || isloading" mat-menu-item
                    (click)="printPickingList()">
                    <mat-icon>gavel</mat-icon>
                    {{'common.button.printPickingList' | translate}}
                </button>
                <button [disabled]="!selectedPackages.length || isloading" mat-menu-item
                    (click)="printPackingList()">
                    <mat-icon>subject</mat-icon>
                    {{'common.button.printPackingList' | translate}}
                </button>
                <button [disabled]="!selectedPackages.length || isloading" mat-menu-item
                    (click)="printShippingLabel()">
                    <mat-icon>label</mat-icon>
                    {{'common.button.printShippingLabel' | translate}}
                </button>
                <button [disabled]="!selectedPackages.length || isloading" mat-menu-item
                    (click)="exportForTrackingNumberUpdate()">
                    <mat-icon>view_list</mat-icon>
                    {{'common.button.exportForTrackingNumberUpdate' | translate}}
                </button>
                <button [disabled]="!selectedPackages.length || isloading" mat-menu-item
                    (click)="exportForLogistic()">
                    <mat-icon>toc</mat-icon>
                    {{'common.button.exportForLogistic' | translate}}
                </button>
            </mat-menu>
        </td>
        <td class="w-30-p title">
            <mat-icon style="vertical-align:middle">assignment_turned_in</mat-icon> <span
                class="ml-4">{{'common.title.shipOut' | translate}}{{packageRemark}}</span>
        </td>
    </tr>
</table>

<table id="{{tableId}}-bottom" class="roger-table mt-20">
    <thead>
        <tr>
            <th>
                <input type="checkbox" [disabled]="warehousePackages && !warehousePackages.length"
                    [(ngModel)]="selectedAll" (change)="selectAll();" />
            </th>
            <th>{{'common.tableHeader.seller' | translate}}</th>
            <th>{{'common.tableHeader.consignee' | translate}}</th>
            <th>{{'common.tableHeader.quantity' | translate}}</th>
            <th>{{'common.tableHeader.weightKiloGram' | translate}}</th>
            <th>{{'common.tableHeader.combinedShipping' | translate}}</th>
            <th>{{'common.tableHeader.trackingNumber' | translate}}</th>
        </tr>
    </thead>
    <tbody *ngIf="warehousePackages?.length > 0">
        <tr *ngFor="let package of warehousePackages; let i = index">
            <td>
                <input name="select" type="checkbox" [(ngModel)]="package.selected"
                    (change)="checkIfAllSelected();" [attr.disabled]="false ? true : null">
            </td>
            <td class="pointer" (click)="editCompanyContact(package)">{{showSeller(package)}}-<span
                    class="font-weight-900"
                    matTooltip="{{showSenderCompany(package)}}">{{showSenderCharacters(package)}}</span>
            </td>
            <td>{{package.deliveryTagFk.consigneeName}}</td>
            <td>{{showQuantity(package)}}</td>
            <td>{{showWeight(package)}}</td>
            <td>{{package.orderCount}}</td>
            <td>{{package.trackingNumber}}</td>
        </tr>
    </tbody>
    <tbody *ngIf="warehousePackages?.length == 0">
        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
            <td colspan="7" class="no-data-available">{{'common.message.noRecordsFound' | translate}}
            </td>
        </tr>
    </tbody>
</table>
