<mat-progress-bar *ngIf="isloading" mode="query"></mat-progress-bar>
<table id="{{tableId}}-top" class="w-100-p">
    <tr>
        <td class="w-70-p left">
            <button [disabled]="!selectedPackages.length || isloading" mat-raised-button color="basic"
                (click)="cancelShipOutPackages()">
                <mat-icon>cancel</mat-icon>
                {{'common.button.cancelShipOut' | translate}}{{remarkSelectedPackages}}
            </button>
            <button [disabled]="!selectedPackages.length || isloading" mat-raised-button color="basic"
                class="ml-4" (click)="finishShipOutPackage()">
                <mat-icon>local_shipping</mat-icon>
                {{'common.button.finishShipOutPackage' | translate}}
            </button>
            <button [disabled]="!selectedPackages.length || isloading" [matMenuTriggerFor]="misc"
                [disabled]="isloading" mat-raised-button class="right ml-4"
                matTooltip="{{'common.button.misc' | translate}}">
                <mat-icon>dialpad</mat-icon>
            </button>

            <mat-menu #misc="matMenu">
                <button [disabled]="!selectedPackages.length || isloading" mat-menu-item
                    (click)="printPickingList()">
                    <mat-icon>gavel</mat-icon>
                    {{'common.menu.printPickingList' | translate}}
                </button>
                <button [disabled]="!selectedPackages.length || isloading" mat-menu-item
                    (click)="printPackingList()">
                    <mat-icon>subject</mat-icon>
                    {{'common.menu.printPackingList' | translate}}
                </button>
                <button [disabled]="!selectedPackages.length || isloading" mat-menu-item
                    (click)="printShippingLabel()">
                    <mat-icon>label</mat-icon>
                    {{'common.menu.printShippingLabel' | translate}}
                </button>
                <button [disabled]="!selectedPackages.length || isloading" mat-menu-item
                    (click)="exportForTrackingNumberUpdate()">
                    <mat-icon>view_list</mat-icon>
                    {{'common.menu.exportForTrackingNumberUpdate' | translate}}
                </button>
                <button [disabled]="!selectedPackages.length || isloading" mat-menu-item
                    (click)="exportForLogistic()">
                    <mat-icon>toc</mat-icon>
                    {{'common.menu.exportForLogistic' | translate}}
                </button>
                <button mat-menu-item [disabled]="isloading" (click)="exportOrderList()">
                    <mat-icon>cancel_presentation</mat-icon>
                    {{'common.menu.exportExcelFile' | translate}}
                </button>                
            </mat-menu>
        </td>
        <td class="w-30-p title">
            <mat-icon style="vertical-align:middle">assignment_turned_in</mat-icon> <span
                class="ml-4">{{'common.title.shipOut' | translate}}{{packageRemark}}</span>
        </td>
    </tr>
</table>

<table id="{{tableId}}-bottom" class="roger-table mt-20">
    <thead>
        <tr>
            <th class="checkbox">
                <input type="checkbox" [disabled]="warehousePackages && !warehousePackages.length"
                    [(ngModel)]="selectedAll" (change)="selectAll();" />
            </th>
            <th class="seller print -ex-type-text">{{'common.tableHeader.seller' | translate}}</th>
            <th class="orderNumberShort print -ex-type-id">{{'common.tableHeader.orderNumberShort' | translate}}</th>
            <th class="consignee print -ex-type-text">{{'common.tableHeader.consignee' | translate}}</th>
            <th class="customsNumber print -ex-type-text">{{'common.tableHeader.customsNumber' | translate}}</th>
            <th class="shipOutStatus">{{'common.tableHeader.shipOutStatus' | translate}}</th>
            <th class="quantity print -ex-type-number">{{'common.tableHeader.quantity' | translate}}</th>
            <th class="weightKiloGram print -ex-type-number">{{'common.tableHeader.weightKiloGram' | translate}}</th>
            <th class="combinedShipping print -ex-type-number">{{'common.tableHeader.combinedShipping' | translate}}</th>
            <th class="trackingNumber print -ex-type-text">{{'common.tableHeader.trackingNumber' | translate}}</th>
            <th class="itemsName print -ex-type-text -ex-width-80">{{'common.tableHeader.itemsName' | translate}}</th>
        </tr>
    </thead>
    <tbody *ngIf="warehousePackages?.length > 0">
        <tr *ngFor="let package of warehousePackages; let i = index">
            <td class="checkbox">
                <input name="select" type="checkbox" [(ngModel)]="package.selected"
                    (change)="checkIfAllSelected();" [attr.disabled]="false ? true : null">
            </td>
            <td class="seller pointer print -ex-type-text" (click)="editCompanyContact(package)">{{showSeller(package)}}-<span
                    class="font-weight-900"
                    matTooltip="{{showSenderCompany(package)}}">{{showSenderCharacters(package)}}</span>
            </td>
            <td class="orderNumberShort print -ex-type-id">{{showMarketOrderNumbers(package)}}</td>
            <td class="consignee print -ex-type-text">{{package.deliveryTagFk.consigneeName}}</td>
            <td class="customsNumber print -ex-type-text">{{package.deliveryTagFk.customsId}}</td>
            <td class="shipOutStatus">{{package.deliveryTagFk.consigneeName}}</td>
            <td class="quantity print -ex-type-number">{{showQuantity(package)}}</td>
            <td class="weightKiloGram print -ex-type-number">{{showWeight(package)}}</td>
            <td class="combinedShipping print -ex-type-number">{{package.orderCount}}</td>
            <td class="trackingNumber print -ex-type-text">{{package.trackingNumber}}</td>
            <td class="itemsName print -ex-type-text -ex-width-80">{{showItemsName(package)}}</td>
        </tr>
    </tbody>
    <tbody *ngIf="warehousePackages?.length == 0">
        <tr>
            <td class="checkbox"></td>
            <td class="seller"></td>
            <td class="orderNumberShort"></td>
            <td class="consignee"></td>
            <td class="customsNumber"></td>
            <td class="shipOutStatus"></td>
            <td class="quantity"></td>
            <td class="weightKiloGram"></td>
            <td class="combinedShipping"></td>
            <td class="trackingNumber"></td>
            <td class="itemsName"></td>
        </tr>
        <tr>
            <td colspan="11" class="no-data-available">{{'common.message.noRecordsFound' | translate}}
            </td>
        </tr>
    </tbody>
</table>
