:host {
    table {
        td {
            text-align: center;
        }

        id:nth-child(2) {
            text-align: right;
        }

        td.title {
            font-size: 18px;
            font-weight: 500;
            text-align: right;
        }

        td.left {
            text-align: left;
        }
    }

    .olive-datatable tr {
        cursor: auto ;
    }

    .olive-datatable td.pointer,
    .olive-datatable span.pointer {
        cursor: pointer ;
    }
    
    .olive-datatable td.zoom-in {
        cursor: zoom-in ;
    }    
}
