<form [formGroup]="oForm" novalidate fxLayout="column" fxLayoutGap="1em" autocomplete="off">
    <div class="entry-max-width">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em">
            <div flex style="width: 200px">
                <olive-lookup-host #warehouse formControlName="warehouseFk" required  [cacheKey]="'warehouse'"
                    [placeholder]="'common.word.warehouse' | translate"
                    [isEditMode]="isNewItem" (changed)="onWarehouseChanged($event)"></olive-lookup-host>
            </div>

            <div flex style="width: 200px">
                <olive-refer-host #purchaseOrder formControlName="purchaseOrderFk" [placeholder]="'구매'" [isEditMode]="true"></olive-refer-host>
            </div>

            <div flex style="width: 200px">
                <mat-form-field appearance="outline" class="w-100-p" fxFlex>
                    <mat-label>공급처</mat-label>
                    <input matInput name="supplierName" readonly="true" formControlName="supplierName">
                </mat-form-field>
            </div>

            <div flex>
                <mat-form-field appearance="outline" fxFlex class="w-100-p">
                    <mat-label>{{'common.word.memo' | translate}}</mat-label>
                    <textarea matInput name="memo" formControlName="memo" rows="1"></textarea>
                </mat-form-field>
            </div>

            <div flex *ngIf="!isNewItem" style="width: 300px">
                <olive-entity-date [item]="item" (formReady)="formInitialized('date', $event)">
                </olive-entity-date>
            </div>
        </div>
    </div>
</form>