:host {
    .right {
        text-align: right;
    }

    .justify-end {
        justify-content: flex-end;
    }

    .justify-center {
        justify-content: center;
    }

    .mat-column-actions {
        flex: 0 1 70px;
    }

    .mat-table {
        min-width: 700px;
        max-width: 1000px;
    }

    .mat-column-paymentMethodId {
        flex: 0 1 250px;
    }    

    .highlightrow {
        background: cornsilk;
    }

    .justify-end {
        justify-content: flex-end;
    }

    .mat-input-element.ng-invalid.ng-touched {
        border: 1px solid red;
        color: red;
    }
}