<form [formGroup]="oForm" (keydown.enter)="false">
  <mat-table [dataSource]="paymentsDataSource" formArrayName="formarray">
    <mat-header-row *matHeaderRowDef="displayedColumns">
    </mat-header-row>

    <mat-footer-row *matFooterRowDef="displayedColumns">
    </mat-footer-row>

    <mat-row *matRowDef="let row; columns: displayedColumns; let i=index" #cdkrow [ngClass]="{'highlightrow': (currentRow) && row.ObjId == currentRow.ObjId}"
      (click)="currentRow=row;">
    </mat-row>

    <ng-container matColumnDef="paymentMethodId">
      <mat-header-cell *matHeaderCellDef>{{'common.word.paymentMethod' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
        <mat-form-field fxFlex='95%'>
          <mat-select name="paymentMethodId" formControlName="paymentMethodId" required (selectionChange)="onSelectionChange($event)" (blur)="onBlur($event)">
            <mat-option value="">{{'common.message.chooseOption' | translate}}</mat-option>
            <mat-option *ngFor="let method of paymentMethods" [value]="method.id">{{method.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasArrayEntryError('paymentMethodId',i)">{{arrayErrorMessage('paymentMethodId',i)}}</mat-error>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>{{(isVoidMode ? 'common.word.refundAmount' : 'common.word.paymentAmount') | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
        <mat-form-field fxFlex='95%'>
          <input name="inputAmount{{row.ObjId}}" matInput class="right" formControlName="amount" 
            (focus)="currentRow=row" (change)="onChange($event)" (keyup)="onKeyup($event)" (blur)="onBlur($event)">
          <mat-error *ngIf="hasArrayEntryError('amount',i)">{{arrayErrorMessage('amount',i)}}</mat-error>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef class="justify-end pr-40">{{numberFormat(totalAmount, standCurrency.decimalPoint)}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="remarkId">
      <mat-header-cell *matHeaderCellDef>{{'purchasing.purchaseOrderPayments.remarkId' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
        <mat-form-field fxFlex='95%'>
          <input name="inputRemark{{row.ObjId}}" matInput type="text" formControlName="remarkId"
          (change)="onChange($event)" (keyup)="onKeyup($event)" (blur)="onBlur($event)" maxlength="200">
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-button color="primary" matTooltip="{{'common.button.add' | translate}}" (click)="newItem()">
          <mat-icon class="mat-button-icon">add</mat-icon>{{'common.button.add' | translate}}
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-center">
        <button mat-icon-button matTooltip="{{'common.button.delete' | translate}}" (click)="deleteItem(row)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

  </mat-table>
</form>
