<form [formGroup]="oForm" class="maxwidth">
  <mat-table [dataSource]="paymentsDataSource" formArrayName="formarray">
    <mat-header-row *matHeaderRowDef="displayedColumns">
    </mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns; let i=index" #cdkrow [ngClass]="{'highlightrow': (currentRow) && row.ObjId == currentRow.ObjId}"
      (click)="currentRow=row;">
    </mat-row>

    <ng-container matColumnDef="paymentMethodId">
      <mat-header-cell *matHeaderCellDef>결제</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
        <mat-form-field fxFlex='95%'>
          <mat-select name="paymentMethodId" formControlName="paymentMethodId" required (selectionChange)="onSelectionChange($event)" (blur)="onBlur($event)">
            <mat-option value="">Choose an option</mat-option>
            <mat-option *ngFor="let method of paymentMethods" [value]="method.id">{{method.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasRequiredError('paymentMethodId',i)">
            {{'common.entryError.needToSelect' | translate}}
            required
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>금액</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
        <mat-form-field fxFlex='95%'>
          <input name="inputAmount{{row.ObjId}}" type="number" matInput class="right" [value]="row.Obj.amount|money"
            formControlName="amount" (focus)="currentRow=row" (change)="onChange($event)" (keyup)="onKeyup($event)" (blur)="onBlur($event)">
          <mat-error *ngIf="hasRequiredError('amount',i)">
            {{'common.entryError.required' | translate}}
          </mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remarkId">
      <mat-header-cell *matHeaderCellDef>승인번호</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
        <mat-form-field fxFlex='95%'>
          <input name="inputRemark{{row.ObjId}}" matInput type="text" formControlName="remarkId"
          (change)="onChange($event)" (keyup)="onKeyup($event)" (blur)="onBlur($event)">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef fxFlex="100px">
        <button mat-button color="primary" matTooltip="신규" (click)="newItem()">
          <mat-icon class="mat-button-icon">add</mat-icon>신규
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="100px">
        <button mat-icon-button matTooltip="{{'management.Delete' | translate}}" (click)="deleteItem(row)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

  </mat-table>
</form>
