:host {
    div {
        width: 100%;
    }

    .max-width {
        max-width: 1100px;
    }

    .mat-select-disabled {
        ::ng-deep .mat-select-value {
            color: #4d4d4d;
        }
    }
}