<form [formGroup]="oForm" novalidate fxLayout="column" fxLayoutGap="1em" autocomplete="off">
    <div class="entry-max-width">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em">
            <div flex style="width: 200px">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>{{'common.word.warehouse'|translate}}</mat-label>
                    <mat-select name="warehouse" formControlName="warehouse" required (valueChange)="onWarehouseChanged($event)" [disabled]="!isNewItem">
                        <mat-option *ngIf="warehouses && warehouses.length > 1">{{'common.message.chooseOption' | translate}}</mat-option>
                        <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">{{warehouse.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasEntryError('warehouse')">{{errorMessage('warehouse')}}</mat-error>
                </mat-form-field>
            </div>
            <div flex>
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>{{'common.word.memo' | translate }}</mat-label>
                    <textarea matInput name="memo" formControlName="memo" rows="1"></textarea>
                </mat-form-field>
            </div>
            <div flex *ngIf="!isNewItem" style="width: 600px">
                <olive-entity-date [item]="item" (formReady)="formInitialized('date', $event)">
                </olive-entity-date>
            </div>
        </div>
    </div>
</form>