<form #form="ngForm" name="oForm" [formGroup]="oForm" novalidate (ngSubmit)="save()">
    <div class="entry-max-width">
        <olive-purchase-order-editor #main [item]="item" (currencyChanged)="onCurrencyChanged($event)"
            (exchangeRateChanged)="onCurrencyExchangeRateChanged($event)"></olive-purchase-order-editor>
    </div>
    <div class="entry-max-width">
        <olive-purchase-order-items-editor #items formControlName="purchaseOrderItems"
        (paymentAmountChanged)="onPaymentAmountChanged($event)">
        </olive-purchase-order-items-editor>
    </div>
    <div class="entry-max-width">
        <olive-purchase-order-payments-editor style="float: right;" #payments [item]="item"
            formControlName="purchaseOrderPayments">
        </olive-purchase-order-payments-editor>
    </div>
</form>