:host {
    table {
        th:nth-child(1) {
            width: 20px;
        }

        th.id {
            width: 80px;
        }

        th.void-type {
            width: 80px;
        }

        th.warehouse {
            width: 60px;
        }

        th.supplier {
            width: 80px;
        }

        th.quantity {
            width: 40px;
        }

        th.total-amount
        {
            width: 60px;
        }

        th.lock-link,
        th.confirm-link {
            width: 50px;
        }

        td.id,
        td.void-type,
        td.warehouse,
        td.supplier,
        td.lock-link,
        td.confirm-link
        {
            text-align: center;
        }

        td.item {
            text-align: justify;
        }

        td.quantity, 
        td.total-amount {
            text-align: right;
        }
    }
}
