:host {
    table {
        th:nth-child(1) {
            width: 20px;
        }

        th:nth-child(2) {
            width: 120px;
        }

        th:nth-child(4) {
            width: 200px;
        }

        th:nth-child(5) {
            width: 90px;
        }

        th:nth-child(6) {
            width: 90px;
        }

        td:nth-child(1), td:nth-child(2) {
            text-align: center;
        }

        td:nth-child(3), td:nth-child(4) {
            text-align: justify;
        }

        td:nth-child(5), td:nth-child(6) {
            text-align: center;
        }
    }
}
