<div id="inventories" class="page-layout carded fullwidth" fusePerfectScrollbar>
    <div class="top-bg accent"></div>

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-16 p-sm-24 olive-header" fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16" *fuseIfOnDom
                        [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">card_giftcard</mat-icon>
                    <span class="logo-text h1" *fuseIfOnDom
                        [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{'navi.product.inventoriesBalance' | translate}}</span>
                </div>
            </div>

            <!-- SEARCH -->
            <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
                <div class="search-wrapper mt-16 mt-sm-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <span (click)="false" matTooltip="Advanced Search">
                            <mat-icon>search</mat-icon>
                        </span>
                        <input type="search" id="search" matInput #filter placeholder="Search" (keyup)="onSearch($event)"
                            (blur)="onSearch($event)" autocomplete="off">
                    </div>
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD FILE BUTTON -->
            <ng-container *ngIf="canManageInventories">
                <button [matMenuTriggerFor]="ctxmenu" mat-fab class="add-item-button mat-warn"
                    title="{{'common.menu.menuButton' | translate}}" *fuseIfOnDom
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                    <mat-icon>keyboard_hide</mat-icon>
                </button>
                <mat-menu #ctxmenu="matMenu">
                    <button mat-menu-item (click)="onExcel()">
                        <mat-icon>cancel_presentation</mat-icon>
                        <span>{{'common.menu.exportExcelFile' | translate}}</span>
                    </button>
                    <button mat-menu-item (click)="onPrint()">
                        <mat-icon>print</mat-icon>
                        <span>{{'common.menu.printList' | translate}}</span>
                    </button>
                </mat-menu>
            </ng-container>
            <!-- / ADD FILE BUTTON -->
        </div>
        <!-- / HEADER -->

        <div class="content-card mat-white-bg">
            <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
            <div class="content p-24">
                <div layout="column" layout-xs="column" style="width: 100%;">
                    <div>
                        <table id="inventories-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="row-border hover olive-datatable">
                            <thead>
                                <tr>
                                    <th class="nosort">
                                        <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" />
                                    </th>
                                    <th class="print -ex-type-id">ID</th>
                                    <th class="print -ex-type-text -ex-width-60">Name</th>
                                    <th class="print -ex-type-text">Type</th>
                                    <th class="print">QTY</th>
                                    <th class="print">Pending</th>
                                    <th class="print">Price</th>
                                    <th class="print">Due</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let inventory of inventories" class="print">
                                    <td>
                                        <input class="select" name="select" type="checkbox"
                                            [(ngModel)]="inventory.selected" (change)="checkIfAllSelected();">
                                    </td>
                                    <td class="print -ex-type-id">{{ (inventory.productId).toString(36) | uppercase }}
                                    </td>
                                    <td class="print left -ex-type-text">{{ inventory.productName }}</td>
                                    <td class="print left -ex-type-text">{{ inventory.variantName }}</td>
                                    <td class="print -ex-type-number">{{ inventory.totalQty }}</td>
                                    <td class="print -ex-type-number">{{ inventory.orderedQty }}</td>
                                    <td class="print right -ex-type-number">
                                        {{ inventory.standPrice ? (inventory.standPrice | number: '1.2-2') : '' }}</td>
                                    <td class="print -ex-type-number">
                                        {{ inventory.priceDue ? (inventory.priceDue | number: '1.2-2') : '-' }}</td>
                                </tr>
                                <tr *ngIf="inventories?.length == 0">
                                    <td colspan="8" class="no-data-available">
                                        {{'common.message.noRecordsFound' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CENTER -->
</div>