<form [formGroup]="oForm" (keydown.enter)="false">
    <mat-table [dataSource]="dataSource" formArrayName="formArray">
        <mat-header-row *matHeaderRowDef="displayedColumns">
        </mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns; let i=index" #cdkrow
            [ngClass]="{'highlightrow': (currentRow) && row.ObjId == currentRow.ObjId}" (click)="currentRow=row;">
        </mat-row>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>{{'common.tableHeader.id' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="center">{{id36(row.Obj.id)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>{{'common.word.name' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.Obj.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="customsTypeCode">
            <mat-header-cell *matHeaderCellDef>{{'common.word.customsTypeCode' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i" [matTooltip]="arrayErrorMessage('customsTypeCode',i)">
                <mat-form-field fxFlex='95%'>
                    <input matInput name="inputCustomsTypeCode{{row.ObjId}}" formControlName="customsTypeCode" class="small-font olive-error" autocomplete="off">
                    <mat-icon matSuffix class="secondary-text link-cursor" (click)="copyToEmptyCell(i)" title="{{'common.message.copyAllToEmptyCell' | translate}}">offline_bolt</mat-icon>
                    <mat-error *ngIf="hasArrayEntryError('customsTypeCode',i)">{{arrayErrorMessage('customsTypeCode',i)}}</mat-error>
                </mat-form-field>
            </mat-cell>
        </ng-container>
    </mat-table>
</form>