<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="top-bg mat-accent-bg"></div>

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">card_giftcard</mat-icon>
        <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{'navi.product.products' | translate}}</span>
      </div>

      <!-- SEARCH -->
      <div class="search-input-wrapper ml-sm-16" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatLabel="never" fxFlex="1 0 auto">
          <input type="search" id="search" matInput #filter placeholder="Search" (keyup)="onSearch($event)" (blur)="onSearch($event)">
        </mat-form-field>
      </div>
      <!-- / SEARCH -->

      <!-- ADD FILE BUTTON -->
      <ng-container *ngIf="canManageProducts">
        <button [matMenuTriggerFor]="ctxmenu" mat-fab class="add-item-button mat-warn" title="{{'common.menu.menuButton' | translate}}" *fuseIfOnDom
          [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
          <mat-icon>keyboard_hide</mat-icon>
        </button>
        <mat-menu #ctxmenu="matMenu">
          <button mat-menu-item (click)="editProduct()">
            <mat-icon>add_box</mat-icon>
            <span>{{'common.menu.addNewItem' | translate}}</span>
          </button>
          <button mat-menu-item (click)="onExcel()">
            <mat-icon>cancel_presentation</mat-icon>
            <span>{{'common.menu.exportExcelFile' | translate}}</span>
          </button>
          <button mat-menu-item (click)="onPrint()">
            <mat-icon>print</mat-icon>
            <span>{{'common.menu.printList' | translate}}</span>
          </button>
          <button mat-menu-item (click)="onUpload()">
            <mat-icon>cloud_upload</mat-icon>
            <span>{{'common.menu.upload' | translate}}</span>
          </button>
        </mat-menu>
      </ng-container>
      <!-- / ADD FILE BUTTON -->
    </div>
    <!-- / HEADER -->

    <div class="content-card mat-white-bg">
      <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
      <div class="content p-24">
        <div layout="column" layout-xs="column" style="width: 100%;">
          <div>
            <table id="products-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover olive-datatable">
              <thead>
                <tr>
                  <th class="nosort">
                    <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" />
                  </th>
                  <th class="print -ex-type-id">ID</th>
                  <th class="print -ex-type-text -ex-width-60">Name</th>
                  <th class="print -ex-type-number">Min</th>
                  <th class="print -ex-type-number">Max</th>
                  <th>Types</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products" (click)="editProduct(product, $event)" class="print">
                  <td>
                    <input class="select" name="select" type="checkbox" [(ngModel)]="product.selected" (change)="checkIfAllSelected();">
                  </td>
                  <td class="print -ex-type-id">{{ (product.id).toString(36) | uppercase }}</td>
                  <td class="print left -ex-type-text">{{ product.name }}</td>
                  <td class="print right -ex-type-number">{{ product.minPrice ? (product.minPrice | number: '1.2-2') : '' }}</td>
                  <td class="print right -ex-type-number">{{ product.maxPrice ? (product.maxPrice | number: '1.2-2') : '' }}</td>
                  <td>{{ product.variantCount }}</td>
                  <td>{{ product.createdUtc | date: 'shortDate' }}</td>
                </tr>
                <tr *ngIf="products?.length == 0">
                  <td colspan="6" class="no-data-available">{{'common.message.noRecordsFound' | translate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CENTER -->
</div>
