<form [formGroup]="oForm" novalidate class="w-100-p" fxLayout="column" fxFlex autocomplete="off">
      <mat-form-field class="w-100-p" *ngIf="isIdVisible">
        <input matInput name="id" formControlName="id" placeholder="Id" readonly="readonly">
      </mat-form-field>

      <mat-form-field class="w-100-p">
        <input matInput name="code" formControlName="code" placeholder="Code" required maxlength="100" class="to-uppercase">
        <mat-hint align="end">{{code.value?.length || 0}}/100</mat-hint>
        <mat-error *ngIf="code.hasError('required')">
           {{'common.entryError.required' | translate}}
         </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100-p">
        <input matInput name="name" formControlName="name" placeholder="Name" required maxlength="200">
        <mat-hint align="end">{{name.value?.length || 0}}/200</mat-hint>
        <mat-error *ngIf="name.hasError('required')">
           {{'common.entryError.required' | translate}}
         </mat-error>
      </mat-form-field>

      <olive-lookup-host #companyGroupFk formControlName="companyGroupFk" required  [placeholder]="companyGroupTitle | translate" [isEditMode]="canAssignCompanyGroups"></olive-lookup-host>      

      <mat-form-field class="w-100-p">
        <textarea matInput name="memo" formControlName="memo" placeholder="Memo" rows="5">
        </textarea>
      </mat-form-field>

      <mat-checkbox formControlName="activated">Activated</mat-checkbox>

      <olive-entity-date [item]="item" (formReady)="formInitialized('date', $event)"></olive-entity-date>
</form>
