:host {
    table {
        th:nth-child(1) {
            width: 20px;
        }

        th.created-utc {
            width: 130px;
        }

        th.excel-row-count,
        th.duplicated-order-count,
        th.mapping-item-count,
        th.order-transferred-count {
            width: 90px;
        }

        td:nth-child(1) {
            text-align: center;
        }

        td.excel-row-count,
        td.duplicated-order-count,
        td.mapping-item-count,
        td.order-transferred-count {
            text-align: right;
        }
    }
}
