<div class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div *ngIf="!setting.noHeader" class="header accent p-16 p-sm-24 olive-header" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">{{pageIcon}}
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        {{pageTitleId | translate}}
                    </span>
                </div>
            </div>
        </div>
        <!-- HEADER -->

        <div class="content-card mat-white-bg" [ngClass]="{'mt-20': setting.noHeader}"> 
            <div class="content pl-24 pr-24" [ngClass]="{'pt-24': !setting.noHeader}">
                <ng-template olivePlaceHolder></ng-template>
            </div>
        </div>
        <mat-toolbar class="mt-12" *ngIf="!setting.disableBottomNavigation">
            <mat-toolbar-row>
                <button *ngIf="canManageItems" [disabled]="!canSave" mat-raised-button (click)="save()" color="accent">
                    <mat-icon>save</mat-icon> {{'common.button.save' | translate}}
                </button>
                <button *ngIf="canManageItems && name" mat-raised-button (click)="delete()" color="warn">
                    <mat-icon>delete</mat-icon> {{'common.button.delete' | translate}}
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <!-- CENTER -->
</div>