@import "src/@fuse/scss/fuse";

.olive-header {
    position: relative;

    .search-wrapper {
        width: 100%;
        max-width: 480px;
        border-radius: 28px;
        overflow: hidden;
        @include mat-elevation(1);

        .search {
            // background-color: white;
            width: 100%;
            height: 48px;
            line-height: 48px;
            padding: 0 18px;

            input {
                width: 100%;
                height: 48px;
                min-height: 48px;
                max-height: 48px;
                padding: 0 16px;
                border: none;
                outline: none;
                // color: rgba(0, 0, 0, 0.85);
            }

            span {
                cursor: pointer;
                // color: rgba(64, 8, 167, 0.54);
                margin-top: 12px;
            }
        }
    }

    .add-item-button {
        position: absolute;
        bottom: -24px;
        left: -16px;
        z-index: 999;
    }
}

@mixin olive-header-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .olive-header {
        .search-wrapper {
            background: map-get($background, card);

            .search {
                .mat-icon {
                    color: map-get($foreground, icon);
                }

                input {
                    background: map-get($background, card);
                    color: map-get($foreground, text);
                }
            }
        }
    }
}

.no-data-available {
    text-align: center;
    height: 100px;
}

.dataTables_empty {
    display: none;
}

.dataTables_wrapper,
.olive-datatable {
    width: 100%;
}

.olive-datatable tr {
    cursor: pointer;
}

.normal-cursor {
    cursor: default;
}

.olive-datatable th,
td {
    text-align: center;

    input[type=checkbox] {
        -ms-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        padding: 10px;
        vertical-align: middle;
    }
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.to-uppercase {
    text-transform: uppercase;
}

.link-cursor {
    cursor: pointer;
}

.aligned-with-icon {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

.link {
    text-decoration: underline;
    color: blue;
}

.dataTables_wrapper .dataTables_filter input {
    border: 0;
    border: solid 1px #ccc;
    -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.dataTables_wrapper .dataTables_filter input:focus {
    outline: none !important;
    border: 1px solid navy;
    box-shadow: 0 0 10px #719ECE;
}

.foreground-red {
    color: red;
}

.foreground-blue {
    color: blue;
}

.foreground-orange {
    color: orange;
}

.foreground-disabled {
    color: 	lightgray;
}

.mat-header-cell {
    display: flex;
    justify-content: center;
}

.mat-tab-header {
    z-index: 9999;
    position: sticky !important;
    top: 0px;
    background-color: white !important;
}

.added-count {
    color: navy;
    font-size: 10px;
    font-weight: bold;
}

.entry-max-width {
    max-width: 1100px;
}

.small-icon {
    transform: scale(0.7);
}