<div class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-16 p-sm-24 olive-header" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">{{setting.icon}}
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        {{setting.translateTitleId | translate}}
                    </span>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>

                <div class="search-wrapper mt-16 mt-sm-0">

                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <span (click)="openSearchDialog()" matTooltip="Advanced Search">
                            <mat-icon>search</mat-icon>
                        </span>
                        <input type="search" id="search" matInput #filter placeholder="Search" (keyup)="onSearch($event)"
                            (blur)="onSearch($event)" autocomplete="off">
                    </div>

                </div>

            </div>
            <!-- / SEARCH -->

            <!-- ADD FILE BUTTON -->
            <button [matMenuTriggerFor]="ctxmenu" mat-fab class="add-item-button mat-warn" title="{{'common.menu.menuButton' | translate}}"
                *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                <mat-icon>keyboard_hide</mat-icon>
            </button>
            <mat-menu #ctxmenu="matMenu">
                <button mat-menu-item (click)="onExcel()">
                    <mat-icon>cancel_presentation</mat-icon>
                    <span>{{'common.menu.exportExcelFile' | translate}}</span>
                </button>
                <button mat-menu-item (click)="onPrint()">
                    <mat-icon>print</mat-icon>
                    <span>{{'common.menu.printList' | translate}}</span>
                </button>
            </mat-menu>
            <!-- / ADD FILE BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT-CARD -->
        <div class="content-card mat-white-bg">
            <mat-progress-bar *ngIf="loadingIndicator" mode="query"></mat-progress-bar>
            <div class="content p-24">
                <div layout="column" layout-xs="column" style="width: 100%; min-width: 800px">
                    <div>
                        <table id="{{setting.dataTableId}}" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="cell-border olive-datatable">
                            <thead>
                                <tr>
                                    <th style="width:120px;">{{'purchasing.inWarehousePendingHeader.id' | translate}}</th>
                                    <th style="width:130px;">{{'purchasing.inWarehousePendingHeader.warehouse' | translate}}</th>
                                    <th>{{'purchasing.inWarehousePendingHeader.vendor' | translate}}</th>
                                    <th colspan="4">{{'purchasing.inWarehousePendingHeader.memo' | translate}}</th>
                                    <th>{{'purchasing.inWarehousePendingHeader.finishLink' | translate}}</th>
                                </tr>
                                <tr>
                                    <th colspan="3">{{'purchasing.inWarehousePendingHeader.itemName' | translate}}</th>
                                    <th style="width:50px;">{{'purchasing.inWarehousePendingHeader.quantity' | translate}}</th>
                                    <th style="width:50px;">{{'purchasing.inWarehousePendingHeader.balance' | translate}}</th>
                                    <th style="width:50px;">{{'purchasing.inWarehousePendingHeader.price' | translate}}</th>
                                    <th style="width:50px;">{{'purchasing.inWarehousePendingHeader.due' | translate}}</th>
                                    <th style="width:150px;">{{'purchasing.inWarehousePendingHeader.remark' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items" (click)="editItem(item, $event)" class="print" [ngClass]="{'row-accent': isMaster(item)}">
                                    <td *ngIf="isMaster(item)">{{dateCode(item.date,item.id)}}</td>
                                    <td *ngIf="isMaster(item)">{{item.warehouseFk.code}}</td>
                                    <td *ngIf="isMaster(item)">{{item.vendorFk.name}}</td>
                                    <td *ngIf="isMaster(item)" colspan="4"><span class="text-truncate">{{item.memo}}</span></td>
                                    <td *ngIf="isMaster(item)">종결</td>

                                    <td *ngIf="!isMaster(item)" colspan="3" class="text-left">{{item.tagPurchaseOrderItem.name}}</td>
                                    <td *ngIf="!isMaster(item)" class="text-right">{{commaNumber(item.tagPurchaseOrderItem.quantity)}}</td>
                                    <td *ngIf="!isMaster(item)" class="text-right">{{commaNumber(item.tagPurchaseOrderItem.balance)}}</td>
                                    <td *ngIf="!isMaster(item)" class="text-right">{{numberFormat(item.tagPurchaseOrderItem.price, standCurrency.decimalPoint)}}</td>
                                    <td *ngIf="!isMaster(item)" class="text-right">{{numberFormat(item.tagPurchaseOrderItem.quantity*item.tagPurchaseOrderItem.price, standCurrency.decimalPoint)}}</td>
                                    <td *ngIf="!isMaster(item)"><span class="text-truncate">{{item.tagPurchaseOrderItem.remarks}}</span></td>
                                </tr>
                                <tr *ngIf="items?.length == 0">
                                    <td [attr.colspan]="setting.columns.length" class="no-data-available">{{'common.message.noRecordsFound'
                                        | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- / CONTENT-CARD -->
    </div>
    <!-- / CENTER -->
</div>
