<form [formGroup]="oForm" novalidate fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" autocomplete="off">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="8px">
        <mat-form-field appearance="outline" fxFlex="50">
            <input matInput name="code" formControlName="code" required maxlength="100" class="to-uppercase">
            <mat-label>{{'common.word.code'|translate}}</mat-label>
            <mat-hint align="end">{{getControl('code').value?.length || 0}}/100</mat-hint>
            <mat-error *ngIf="hasEntryError('code')">{{errorMessage('code')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>{{'common.word.market'|translate}}</mat-label>
            <mat-select name="market" formControlName="market" required>
                <mat-option *ngIf="markets && markets.length > 1">{{'common.message.chooseOption' | translate}}</mat-option>
                <mat-option *ngFor="let market of markets" [value]="market.id">{{market.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="hasEntryError('market')">{{errorMessage('market')}}</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="8px">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>{{'common.word.company'|translate}}</mat-label>
            <mat-select name="company" formControlName="company" required>
                <mat-option *ngIf="companies && companies.length > 1">{{'common.message.chooseOption' | translate}}</mat-option>
                <mat-option *ngFor="let company of companies" [value]="company.id">{{company.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="hasEntryError('company')">{{errorMessage('company')}}</mat-error>
        </mat-form-field>        
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="8px">
        <mat-form-field appearance="outline" fxFlex="100">
            <input matInput name="name" formControlName="name" required maxlength="200">
            <mat-label>{{'common.word.name'|translate}}</mat-label>
            <mat-hint align="end">{{getControl('name').value?.length || 0}}/200</mat-hint>
            <mat-error *ngIf="hasEntryError('name')">{{errorMessage('name')}}</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="8px">
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>{{'common.word.memo'|translate}}</mat-label>
            <textarea matInput name="memo" formControlName="memo" rows="2"></textarea>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="8px">
        <div fxFlex="20">
            <mat-checkbox formControlName="activated">{{'common.word.activated' | translate}}</mat-checkbox>
        </div>

        <div fxFlex="80">
            <olive-entity-date [item]="item" (formReady)="formInitialized('date', $event)"></olive-entity-date>
        </div>
    </div>
</form>