<form [formGroup]="oForm" novalidate fxLayout="column" fxLayoutGap="1em" autocomplete="off">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em">
    <div flex>
      <mat-form-field appearance="outline" fxFlex class="w-100-p">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="dateCtrl" formControlName="poDate" readonly>
        <mat-datepicker-toggle matSuffix [for]="dateCtrl"></mat-datepicker-toggle>
        <mat-datepicker #dateCtrl></mat-datepicker>
        <mat-error *ngIf="hasEntryError('poDate')">{{errorMessage('poDate')}}</mat-error>
      </mat-form-field>
    </div>

    <div flex>
      <olive-lookup-host #vendor formControlName="vendorFk" required [placeholder]="'Vendor'" [isEditMode]="canAssignPurchaseOrder"></olive-lookup-host>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em">
    <div flex>
      <olive-lookup-host #warehouse formControlName="warehouseFk" required [placeholder]="'Warehouse'" [isEditMode]="canAssignPurchaseOrder"></olive-lookup-host>
    </div>
    <div flex>
      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>Currency</mat-label>
        <mat-select name="currency" formControlName="currency" required (valueChange)="onCurrencyValueChanged($event)">
          <mat-option *ngFor="let item of currencies" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasEntryError('currency')">{{errorMessage('currency')}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em">
    <div flex>
      <mat-form-field appearance="outline" class="w-100-p" [floatLabel]="floatLabels" fxFlex>
        <mat-label>Vendor Order #</mat-label>
        <input matInput name="vendorOrderId" formControlName="vendorOrderId" maxlength="100">
        <mat-hint align="end">{{getControl('vendorOrderId').value?.length || 0}}/100</mat-hint>
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field *ngIf="!isMasterCurrency" appearance="outline" class="w-100-p">
        <mat-label>Currency Exchange Rate</mat-label>
        <input matInput name="currencyExchangeRate" formControlName="currencyExchangeRate" class="right">
        <mat-error *ngIf="hasEntryError('currencyExchangeRate')">{{errorMessage('currencyExchangeRate')}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em">
    <div flex>
      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>Freight</mat-label>
        <input matInput name="freightAmount" formControlName="freightAmount" required class="right">
        <mat-error *ngIf="hasEntryError('freightAmount')">{{errorMessage('freightAmount')}}</mat-error>
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>Added Discount</mat-label>
        <input matInput name="addedDiscountAmount" formControlName="addedDiscountAmount" required class="right">
        <mat-error *ngIf="hasEntryError('addedDiscountAmount')">{{errorMessage('addedDiscountAmount')}}</mat-error>
      </mat-form-field>
    </div>
    <div flex>
      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>Tax</mat-label>
        <input matInput name="taxAmount" formControlName="taxAmount" required class="right">
        <mat-error *ngIf="hasEntryError('taxAmount')">{{errorMessage('taxAmount')}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div flex>
    <mat-form-field appearance="outline" class="w-100-p">
      <mat-label>Memo</mat-label>
      <textarea matInput name="memo" formControlName="memo" rows="3"></textarea>
    </mat-form-field>
  </div>

  <olive-entity-date [item]="item" (formReady)="formInitialized('date', $event)"></olive-entity-date>
</form>
