:host {
    table {
        th:nth-child(1) {
            width: 20px;
        }

        th:nth-child(2) {
            width: 150px;
        }

        th:nth-child(n+4) {
            width: 150px;
        }

        td:nth-child(1) {
            text-align: center;
        }

        td:nth-child(3) {
            text-align: justify;
        }

        td:nth-child(n+4) {
            text-align: center;
        }
    }
}
