<mat-progress-bar *ngIf="isloading" mode="query"></mat-progress-bar>

<table class="w-100-p">
    <tr>
        <td class="w-30-p title">
            <mat-icon>access_time</mat-icon><span
                class="ml-4">{{'common.title.pendingShipOut' | translate}}{{remarkAllOrders}}</span>
        </td>
        <td class="w-70-p right">
            <button mat-icon-button [matMenuTriggerFor]="misc" [disabled]="isloading" mat-raised-button class="right ml-4"
                matTooltip="{{'common.button.misc' | translate}}">
                <mat-icon>dialpad</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="filter" [disabled]="isloading" mat-raised-button class="right ml-4"
                matTooltip="{{'common.button.filter' | translate}}">
                <mat-icon>filter_list</mat-icon>
            </button>            
            <button [disabled]="!(canCombineShip || canReleaseCombineShip) || isloading" mat-raised-button
                color="basic" class="right ml-4" (click)="combineShip()" matTooltip="{{remarkCombinedOrders}}">
                <mat-icon>{{canReleaseCombineShip ? 'link_off' : 'insert_link'}}</mat-icon>
                {{(canReleaseCombineShip ? 'common.button.cancelCombineShip' : 'common.button.combineShip') | translate}}{{remarkCombinedOrders}}
            </button>
            <button [disabled]="!hasSelectedItems || isloading" mat-raised-button color="warn"
                class="right ml-4" (click)="buttonListOrders()">
                <mat-icon>arrow_forward</mat-icon>
                {{'common.button.shipOut' | translate}}{{remarkSelectedOrders}}
            </button>

            <mat-menu #filter="matMenu">
                <button mat-menu-item [disabled]="isloading" (click)="buttonPreAssignTrackingNumbers()">
                    <mat-icon>find_replace</mat-icon>
                    {{'common.button.preAssignTrackingNumber' | translate}}
                </button>
                <button mat-menu-item [disabled]="isloading" (click)="exportForTrackingNumberUpdate()">
                    <mat-icon>view_list</mat-icon>
                    {{'common.button.exportForTrackingNumberUpdate' | translate}}
                </button>
            </mat-menu>            

            <mat-menu #misc="matMenu">
                <button mat-menu-item [disabled]="isloading" (click)="buttonPreAssignTrackingNumbers()">
                    <mat-icon>find_replace</mat-icon>
                    {{'common.button.preAssignTrackingNumber' | translate}}
                </button>
                <button mat-menu-item [disabled]="isloading" (click)="exportForTrackingNumberUpdate()">
                    <mat-icon>view_list</mat-icon>
                    {{'common.button.exportForTrackingNumberUpdate' | translate}}
                </button>
            </mat-menu>
        </td>
    </tr>
</table>

<table id="{{tableId}}" class="roger-table mt-20">
    <thead>
        <tr>
            <th>
                <input type="checkbox" [disabled]="(orders && !orders.length) || allCheckboxesDisabled"
                    [(ngModel)]="selectedAll" (change)="selectAll();" />
            </th>
            <th>{{'common.tableHeader.seller' | translate}}</th>
            <th>{{'common.tableHeader.orderNumberShort' | translate}}</th>            
            <th>{{'common.tableHeader.consignee' | translate}}</th>
            <th>{{'common.tableHeader.inventory' | translate}}</th>
            <th>{{'common.tableHeader.customsPrice' | translate}}</th>
            <th>{{'common.tableHeader.combinedShipping' | translate}}</th>
            <th>{{'common.tableHeader.shipOutStatus' | translate}}</th>
            <th>{{'common.tableHeader.preTrackingNumber' | translate}}</th>
            <th>{{'common.tableHeader.weightKiloGram' | translate}}</th>
            <th>{{'common.tableHeader.itemsName' | translate}}</th>
        </tr>
    </thead>
    <tbody *ngIf="orders?.length > 0">
        <tr *ngFor="let order of orders">
            <td>
                <input *ngIf="!hasShipOutProblems(order)" name="select" type="checkbox" [(ngModel)]="order.choices[index]"
                    (change)="checkIfAllSelected()" (click)="checkSameCombinedShippingGroup(order)"
                    [attr.disabled]="hasShipOutProblems(order) ? true : null">
            </td>

            <td class="zoom-in" (click)="editOrder(order)">{{order.orderFk.marketSellerFk.code}}</td>

            <td>{{order.orderFk.marketOrderNumber}}</td>

            <td class="zoom-in" (click)="editOrder(order)">{{order.deliveryTagFk.consigneeName}}</td>

            <td (click)="switchInventory(order)"
                [ngClass]="{'foreground-red': isShortOrderQuantity(order), 'pointer': switchIconVisible(order)}">
                <span *ngFor="let item of order.orderShipOutDetails"
                    matTooltip="{{item.name}}">{{showItem(item)}}&nbsp;</span>
                <mat-icon *ngIf="switchIconVisible(order)" class="small-icon"
                    matTooltip="{{getInventorySwitchTooltip(order)}}">
                    {{getInventorySwitchIconName(order)}}</mat-icon>
            </td>

            <td class="pointer" (click)="editCustomsPrice(order)"
                [ngClass]="{'foreground-red': foundNullCustomsPrice(order)}">
                {{showCustomsPrice(order)}}
            </td>

            <td [ngClass]="{'foreground-red': order.dupAddressName}" matTooltip="{{combinedShippingSummary(order)}}">
                <mat-icon *ngIf="order.combinedShipAddressName" 
                    [ngClass]="{'foreground-blue': order.combinedShipAddressName}">insert_link
                </mat-icon>
                {{showCombinedShipping(order)}}
            </td>

            <td [ngClass]="{'error-background': getShipOutStatusIcons(order).length>0, 'pointer': foundCustomTypeCodeEntryError(order, customsConfigs)}"
                (click)="popUpCustomTypeCodeEntries()">
                <mat-icon *ngFor="let icon of getShipOutStatusIcons(order)" class="small-icon" title="{{icon.tooltip}}">{{icon.name}}</mat-icon>
            </td>

            <td [ngClass]="{'zoom-in' : !order.trackingNumber}" (click)="!order.trackingNumber ? editOrder(order, 1) : null">
                {{order.trackingNumber ? order.trackingNumber : ''}}
            </td>

            <td class="pointer" (click)="editItemsWeight(order)"
                [ngClass]="{'foreground-red': foundNullWeight(order)}">
                {{showWeight(order)}}
            </td>

            <td class="zoom-in" (click)="editOrder(order)">{{showItemsName(order)}}</td>
        </tr>
    </tbody>
    <tbody *ngIf="orders?.length == 0">
        <tr>
            <td></td><td></td><td></td>
            <td></td><td></td><td></td>
            <td></td><td></td><td></td>
            <td></td><td></td>
        </tr>
        <tr>
            <td [attr.colspan]="11" class="no-data-available">
                {{'common.message.noRecordsFound' | translate}}</td>
        </tr>
    </tbody>
</table>
