<mat-progress-bar *ngIf="isloading" mode="query"></mat-progress-bar>

<table id="{{tableId}}-top" class="w-100-p" #topTable>
    <tr>
        <td class="title">
            <mat-icon>access_time</mat-icon>
            <span class="ml-4">{{'common.title.pendingShipOut' | translate}}{{remarkAllOrders}}</span>
        </td>
        <td class="right">
            <input type="text" name="filterString" size="4" placeholder="{{'common.word.keyword' | translate}}" class="mr-4" [(ngModel)]="filterKeyword" (input)="onSearchChange($event.target.value)">
            <button *ngIf="!filtered" mat-icon-button [matMenuTriggerFor]="filter" [disabled]="isloading"
                mat-raised-button class="right ml-4" matTooltip="{{'common.button.filter' | translate}}">
                <mat-icon>filter_list</mat-icon>
            </button>
            <button *ngIf="filtered" mat-icon-button [disabled]="isloading" mat-raised-button class="right ml-4"
                matTooltip="{{'common.button.removeFilter' | translate}}" (click)="buttonRemoveFilters()">
                <mat-icon color="accent">cached</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="isloading" mat-raised-button
                class="right ml-4" matTooltip="{{'common.button.menu' | translate}}">
                <mat-icon>dialpad</mat-icon>
            </button>
            <button [disabled]="!(canCombineShip || canReleaseCombineShip) || isloading" mat-raised-button color="basic"
                class="right ml-4" (click)="combineShip()" matTooltip="{{remarkCombinedOrders}}">
                <mat-icon>{{canReleaseCombineShip ? 'link_off' : 'insert_link'}}</mat-icon>
                {{(canReleaseCombineShip ? 'common.button.cancelCombineShip' : 'common.button.combineShip') | translate}}{{remarkCombinedOrders}}
            </button>
            <button [disabled]="!hasSelectedItems || isloading" mat-raised-button color="warn" class="right ml-4"
                (click)="buttonListOrders()">
                <mat-icon>arrow_forward</mat-icon>
                {{'common.button.shipOut' | translate}}{{remarkSelectedOrders}}
            </button>

            <mat-menu #filter="matMenu">
                <button mat-menu-item [disabled]="isloading" (click)="buttonFilterHasShipOutProblems()">
                    <mat-icon>report_problem</mat-icon>
                    {{'common.menu.filterHasShipOutProblems' | translate}}
                </button>
                <button mat-menu-item [disabled]="isloading" (click)="buttonFilterHasOkShipOuts()">
                    <mat-icon>done</mat-icon>
                    {{'common.menu.filterHasOkShipOuts' | translate}}
                </button>
                <button mat-menu-item [disabled]="isloading" (click)="buttonFilterCombinedOrders()">
                    <mat-icon>insert_link</mat-icon>
                    {{'common.menu.filterCombinedOrders' | translate}}
                </button>
            </mat-menu>

            <mat-menu #menu="matMenu">
                <button mat-menu-item [disabled]="isloading" (click)="buttonPreAssignTrackingNumbers()">
                    <mat-icon>find_replace</mat-icon>
                    {{'common.menu.preAssignTrackingNumber' | translate}}
                </button>
                <button mat-menu-item [disabled]="isloading" (click)="exportForTrackingNumberUpdate()">
                    <mat-icon>view_list</mat-icon>
                    {{'common.menu.exportForTrackingNumberUpdate' | translate}}
                </button>
                <button mat-menu-item [disabled]="isloading" (click)="exportOrderList()">
                    <mat-icon>cancel_presentation</mat-icon>
                    {{'common.menu.exportExcelFile' | translate}}
                </button>
            </mat-menu>
        </td>
    </tr>
</table>

<table id="{{tableId}}-bottom" class="roger-table mt-20">
    <thead>
        <tr>
            <th>
                <input type="checkbox" [disabled]="(allOrders && !allOrders.length) || allCheckboxesDisabled"
                    [(ngModel)]="selectedAll" (change)="selectAll();" />
            </th>
            <th class="print -ex-type-text">{{'common.tableHeader.seller' | translate}}</th>
            <th class="print -ex-type-id">{{'common.tableHeader.orderNumberShort' | translate}}</th>
            <th class="print -ex-type-text">{{'common.tableHeader.consignee' | translate}}</th>
            <th class="print -ex-type-text">{{'common.tableHeader.inventory' | translate}}</th>
            <th class="print -ex-type-number">{{'common.tableHeader.customsPrice' | translate}}</th>
            <th class="print -ex-type-text">{{'common.tableHeader.combinedShipping' | translate}}</th>
            <th>{{'common.tableHeader.shipOutStatus' | translate}}</th>
            <th class="print -ex-type-text">{{'common.tableHeader.preTrackingNumber' | translate}}</th>
            <th class="print -ex-type-text">{{'common.tableHeader.weightKiloGram' | translate}}</th>
            <th class="print -ex-type-text -ex-width-80">{{'common.tableHeader.itemsName' | translate}}</th>
        </tr>
    </thead>
    <tbody *ngIf="allOrders?.length > 0">
        <tr *ngFor="let order of allOrders" class="print">
            <td>
                <input *ngIf="!hasShipOutProblems(order)" name="select" type="checkbox"
                    [(ngModel)]="order.choices[index]" (change)="checkIfAllSelected()"
                    (click)="checkSameCombinedShippingGroup(order)"
                    [attr.disabled]="hasShipOutProblems(order) ? true : null">
            </td>

            <td class="zoom-in print -ex-type-text" (click)="popUpOrderEntry(order)">
                {{order.orderFk.marketSellerFk.code}}</td>

            <td class="print -ex-type-id">{{order.orderFk.marketOrderNumber}}</td>

            <td class="zoom-in print -ex-type-text" (click)="popUpOrderEntry(order)">
                {{order.deliveryTagFk.consigneeName}}</td>

            <td class="print -ex-type-text" (click)="switchInventory(order)"
                [ngClass]="{'foreground-red': isShortOrderQuantity(order), 'pointer': switchIconVisible(order)}">
                <span *ngFor="let item of order.orderShipOutDetails"
                    matTooltip="{{item.name}}">{{isShortOrderQuantity(order) ? '-' : ''}}{{showItem(item)}}&nbsp;</span>
                <mat-icon *ngIf="switchIconVisible(order)" class="small-icon"
                    matTooltip="{{getInventorySwitchTooltip(order)}}">
                    {{getInventorySwitchIconName(order)}}</mat-icon>
            </td>

            <td class="pointer print -ex-type-number" (click)="popUpCustomsPriceEntry(order)"
                [ngClass]="{'foreground-red': foundNullCustomsPrice(order)}">
                {{showCustomsPrice(order)}}
            </td>

            <td class="print -ex-type-text" [ngClass]="{'foreground-red': order.dupAddressName}"
                matTooltip="{{combinedShippingSummary(order)}}">
                <mat-icon *ngIf="order.combinedShipAddressName"
                    [ngClass]="{'foreground-blue': order.combinedShipAddressName}">insert_link
                </mat-icon>
                {{getTailedDupAddressName(order)}}
            </td>

            <td
                [ngClass]="{'error-background': getShipOutStatusIcons(order).length>0, 'pointer': getShipOutStatusIcons(order).length>0}">
                <span *ngFor="let icon of getShipOutStatusIcons(order)" (click)="contextPopUp(order, icon)">
                    <mat-icon class="small-icon" title="{{icon.tooltip}}">{{icon.name}}</mat-icon>
                </span>
            </td>

            <td class="print -ex-type-text" [ngClass]="{'zoom-in' : !order.trackingNumber}"
                (click)="!order.trackingNumber ? popUpOrderEntry(order, 1) : null">
                {{order.trackingNumber ? order.trackingNumber : ''}}
            </td>

            <td class="pointer print -ex-type-number" (click)="popUpItemsWeightEntry(order)"
                [ngClass]="{'foreground-red': foundNullWeight(order)}">
                {{showWeight(order)}}
            </td>

            <td class="zoom-in print -ex-type-text" (click)="popUpOrderEntry(order)">{{showItemsName(order)}}</td>
        </tr>
    </tbody>
    <tbody *ngIf="allOrders?.length == 0">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td [attr.colspan]="11" class="no-data-available">
                {{'common.message.noRecordsFound' | translate}}</td>
        </tr>
    </tbody>
</table>