<h1 *ngIf="!customTitle && canManageItems" mat-dialog-title>{{(name ? ('common.title.editItem' | translate:name) : ('common.title.addNewItem' | translate:title)) | shorten: maxDialogTitleLength}}</h1>
<h1 *ngIf="!customTitle && !canManageItems" mat-dialog-title>{{'common.title.itemDetails' | translate:name | shorten: maxDialogTitleLength}}</h1>
<h1 *ngIf="customTitle" mat-dialog-title>{{customTitle | shorten: maxDialogTitleLength}}</h1>
<div mat-dialog-content>
    <ng-template olivePlaceHolder></ng-template>
</div>
<div mat-dialog-actions>
    <button *ngIf="canManageItems" [disabled]="!canSave" mat-raised-button (click)="save()" color="accent"><mat-icon>save</mat-icon> {{'common.button.save' | translate}}</button>
    <button *ngIf="canManageItems && name" mat-raised-button (click)="delete()" color="warn" [disabled]="!canDelete"><mat-icon>delete</mat-icon> {{'common.button.delete' | translate}}</button>
    <ng-container *ngFor="let btn of setting.data.customButtons">
        <button *ngIf="customButtonVisible(btn.id)" mat-raised-button color="accent" (click)="customButtonAction(btn.id)" [disabled]="!customButtonEnable(btn.id)">
            <mat-icon>{{btn.iconName}}</mat-icon> {{btn.titleId | translate}}
        </button>
    </ng-container>    
    <button mat-raised-button (click)="cancel()"><mat-icon>close</mat-icon> {{'common.button.close' | translate}}</button>
</div>