:host {
    table {
        th:nth-child(1) {
            width: 20px;
        }

        th:nth-child(2) {
            width: 60px;
        }

        th:nth-child(3) {
            width: 70px;
        }

        th:nth-child(4) {
            width: 70px;
        }

        th:nth-child(5) {
            width: 70px;
        }

        th:nth-child(6) {
            width: 70px;
        }

        th:nth-child(8) {
            width: 40px;
        }

        th:nth-child(9) {
            width: 40px;
        }

        th:nth-child(10) {
            width: 80px;
        }        

        td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
            text-align: center;
        }

        td:nth-child(7) {
            text-align: justify;
        }

        td:nth-child(8) {
            text-align: center;
        }

        td:nth-child(9), td:nth-child(10) {
            text-align: center;
        }
    }
}
