<form [formGroup]="oForm" novalidate class="w-100-p" fxLayout="column" fxFlex autocomplete="off">
  <mat-form-field appearance="outline" class="w-100-p">
    <mat-label>{{'common.word.code' | translate}}</mat-label>
    <input matInput name="code" formControlName="code" required maxlength="100" class="to-uppercase">
    <mat-hint align="end">{{getControl('code').value?.length || 0}}/100</mat-hint>
    <mat-error *ngIf="hasEntryError('code')">{{errorMessage('code')}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100-p">
    <mat-label>{{'common.word.name' | translate}}</mat-label>
    <input matInput name="name" formControlName="name" required maxlength="200">
    <mat-hint align="end">{{getControl('name').value?.length || 0}}/200</mat-hint>
    <mat-error *ngIf="hasEntryError('name')">{{errorMessage('name')}}</mat-error>
  </mat-form-field>

  <olive-lookup-host #company formControlName="companyFk" [placeholder]="'common.word.company' | translate" [isEditMode]="canAssignCompanyGroups"></olive-lookup-host>

  <olive-lookup-host #branch formControlName="companyMasterBranchFk" [placeholder]="'common.word.branch' | translate" [isEditMode]="canAssignCompanyGroups"></olive-lookup-host>

  <mat-checkbox formControlName="activated">{{'common.word.activated' | translate}}</mat-checkbox>

  <olive-entity-date [item]="item" (formReady)="formInitialized('date', $event)"></olive-entity-date>
</form>
