<style>
    @import "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700";

    olivestyle,
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    total,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block
    }

    body {
        line-height: 1
    }

    ol,
    ul {
        list-style: none
    }

    blockquote,
    q {
        quotes: none
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none
    }

    table {
        border-collapse: collapse;
        border-spacing: 0
    }

    body {
        height: 840px;
        width: 592px;
        margin: auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px
    }

    strong {
        font-weight: 700
    }

    #olive-container {
        position: relative;
        padding: 10px;
    }

    #items {
        margin-top: 15px
    }

    #items>p {
        font-weight: 700;
        text-align: right;
        margin-bottom: 1%;
        font-size: 65%
    }

    #items>table {
        width: 100%;
        font-size: 85%;
        border: solid grey 1px
    }

    #items>table th {
        font-weight: 400;
        text-align: center;
    }

    #items>table th:nth-child(1),
    #items>table th:nth-child(3) {
        width: 45px
    }

    #items>table th:nth-child(4) {
        width: 100px
    }

    #items>table tr:nth-child(even) {
        background-color: #F5F5F5;
    }

    #items>table td:nth-child(1),
    #items>table td:nth-child(3) {
        text-align: center;
    }

    #items>table td:nth-child(3) {
        font-size: 1em;
        font-weight: bold;
    }

    #items>table td:nth-child(2) {
        text-align: justify;
        font-size: 1em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #items table td {
        border-right: solid grey 1px
    }

    #items table tr td,
    #items table tr th {
        padding: 6px 4px 6px 4px;
        vertical-align: middle;
    }

    #items table tr {
        border: solid grey 1px
    }

    #items table tr th {
        border-right: solid grey 1px;
    }

    #items table tr:nth-child(2)>td {
        padding-top: 8px
    }

    #top>table {
        width: 100%;
    }

    .title-top {
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        width: 30%
    }

    .title-top p {
        font-size: 10px;
    }

    .left-top,
    .right-top {
        width: 35%
    }

    .left-top {
        text-align: left;
    }

    .right-top {
        text-align: right;
    }

    .left-top span,
    .right-top span {
        padding-left: 10px;
        font-size: 3em;
        font-weight: bold;
    }

    .boxes-container {
        padding: 0;
        margin: 0;
        list-style: none;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        justify-content: flex-start;
        border-width: 1px;
        border-color: black;
    }

    .box-item {
        padding: 0.20em;
        width: 4em;
        height: 1.7em;
        font-size: 1em;
        text-align: center;
        margin: 0.20em;
        overflow: hidden;
    }

    #box-list {
        margin-top: 10px;
        border: solid grey 1px;
    }
</style>

<div id="olive-container">
    <div id="top">
        <table>
            <tr>
                <td class="left-top">Packages<span>{{commaNumber(packages.length)}}</span></td>
                <td class="title-top">Picking List<p>{{today}}</p>
                </td>
                <td class="right-top">Items<span>{{totalItemCount}}</span></td>
            </tr>
        </table>
    </div>

    <div id="items">
        <table id="olive-table">
            <thead>
                <tr>
                    <th class="print -ex-type-id">ID</th>
                    <th class="print -ex-type-text -ex-width-60">Name</th>
                    <th class="print -ex-type-number">Quantity</th>
                    <th class="print -ex-type-text">Remark</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pickingItems" class="print">
                    <td class="print -ex-type-id">{{id36(item.productVariantId)}}</td>
                    <td class="print -ex-type-text">{{item.name}}</td>
                    <td class="print -ex-type-number">{{commaNumber(item.quantity)}}</td>
                    <td class="print -ex-type-text">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- User들이 원하지 않아서 패키지 리스트는 필요할때까지 삭제한다. -->
    <div id="box-list" *ngIf="false">
        <ul class="boxes-container">
            <li class="box-item" *ngFor="let pkg of packages">
                <div>{{pkg.deliveryTagFk.consigneeName}}</div>
            </li>
        </ul>
    </div>
</div>