<form [formGroup]="oForm" novalidate class="w-100-p" fxLayout="column" fxFlex autocomplete="off">
      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>{{'common.word.code' | translate}}</mat-label>
        <input matInput name="code" formControlName="code" required maxlength="20" class="to-uppercase">
        <mat-hint align="end">{{getControl('code').value?.length || 0}}/20</mat-hint>
        <mat-error *ngIf="hasEntryError('code')">{{errorMessage('code')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>{{'common.word.memo' | translate}}</mat-label>
        <input matInput name="name" formControlName="name" required maxlength="200">
        <mat-hint align="end">{{getControl('name').value?.length || 0}}/200</mat-hint>
        <mat-error *ngIf="hasEntryError('name')">{{errorMessage('name')}}</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="outsourcing">Outsourcing</mat-checkbox>

      <mat-checkbox formControlName="private">Private</mat-checkbox>

      <mat-checkbox formControlName="activated">Activated</mat-checkbox>

      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>Phone Number</mat-label>
        <input matInput name="phoneNumber" formControlName="phoneNumber" maxlength="100">
        <mat-hint align="end">{{getControl('phoneNumber').value?.length || 0}}/100</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>Fax Number</mat-label>
        <input matInput name="faxNumber" formControlName="faxNumber" maxlength="100">
        <mat-hint align="end">{{getControl('faxNumber').value?.length || 0}}/100</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="email" maxlength="200">
        <mat-hint align="end">{{getControl('email').value?.length || 0}}/200</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>Weekday Business Hours</mat-label>
        <input matInput name="weekdayBusinessHours" formControlName="weekdayBusinessHours" maxlength="200">
        <mat-hint align="end">{{getControl('weekdayBusinessHours').value?.length || 0}}/200</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>Weekend Business Hours</mat-label>
        <input matInput name="weekendBusinessHours" formControlName="weekendBusinessHours" maxlength="200">
        <mat-hint align="end">{{getControl('weekendBusinessHours').value?.length || 0}}/200</mat-hint>
      </mat-form-field>


      <olive-entity-date [item]="item" (formReady)="formInitialized('date', $event)"></olive-entity-date>
</form>
