.title {
    margin: 10px;
    font-weight: bold;
}

[hidden] {
    display: none !important;
}

.menu {
    position: relative;
    .menu-button {
        position: absolute;
        bottom: -60px;
        left: -16px;
        z-index: 99999;
    }
}
