<form #form="ngForm" name="oForm" [formGroup]="oForm" novalidate (ngSubmit)="save()" class="w-100-p" fxLayout="column"
    fxFlex>

    <olive-checkbox-selector-panel [titleId]="'common.title.selectWarehouses'" (idSelected)="warehouseSelected($event)">
    </olive-checkbox-selector-panel>

    <mat-tab-group>
        <mat-tab *ngFor="let warehouse of warehouses; let index = index" >
            <ng-template mat-tab-label>
                <div matTooltip="{{warehouse.name}}">
                {{warehouse.code+lister.packageRemark}}
                </div>
            </ng-template>
            <div class="tab-content p-24" fusePerfectScrollbar>
                <olive-order-ship-out-package-lister #lister [warehouse]="warehouse" [index]="index"
                    (reload)="onReload()" (packagesCanceled)="onShipOutPackageCanceled()">
                </olive-order-ship-out-package-lister>
            </div>
        </mat-tab>
    </mat-tab-group>
</form>