<div *ngIf="hideSelector" class="menu">
    <button [matMenuTriggerFor]="ctxmenu" mat-fab class="menu-button"
        title="{{'common.menu.menuButton' | translate}}" *fuseIfOnDom
        [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
        <mat-icon>keyboard_hide</mat-icon>
    </button>
    <mat-menu #ctxmenu="matMenu">
        <button mat-menu-item (click)="null" [disabled]="!canManageItems">
            <mat-icon>add_box</mat-icon>
            <span>{{'common.menu.addNewItem' | translate}}</span>
        </button>
        <!-- <button mat-menu-item (click)="onExcel()" *ngIf="contextButtonVisible('excel')">
            <mat-icon>cancel_presentation</mat-icon>
            <span>{{'common.menu.exportExcelFile' | translate}}</span>
        </button>
        <button mat-menu-item (click)="onPrint()" *ngIf="contextButtonVisible('print')">
            <mat-icon>print</mat-icon>
            <span>{{'common.menu.printList' | translate}}</span>
        </button>
        <button mat-menu-item (click)="onUpload()" [disabled]="!canManageItems" *ngIf="contextButtonVisible('upload')">
            <mat-icon>cloud_upload</mat-icon>
            <span>{{'common.menu.upload' | translate}}</span>
        </button> -->
    </mat-menu>
</div>
<div fxLayout="column">
    <div [hidden]="hideSelector" class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start"
        fxFlex="1 0 auto">
        <div class="mb-16">
            <button mat-raised-button (click)="onAllCheckboxesSelected()" class="ml-4 mr-12" color="accent"
                [disabled]="!canLoadShipOutData">
                <mat-icon>assignment_turned_in</mat-icon>
                {{'sales.orderShipOutPackageListerManager.loadShipOutDataButton' | translate}}
            </button>
            <span *ngIf="!canLoadShipOutData">
                {{'sales.orderShipOutPackageListerManager.selectWarehouseAndMarketSeller' | translate}}
            </span>
        </div>

        <olive-checkbox-selector-panel #warehouseCheckboxes [titleId]="'common.title.selectWarehouses'"
            [visibleLoadButton]="false"></olive-checkbox-selector-panel>

        <olive-checkbox-selector-panel #marketSellerCheckboxes class="mt-20" [titleId]="'common.title.selectSellers'"
            [visibleLoadButton]="false"></olive-checkbox-selector-panel>
    </div>

    <mat-tab-group (selectedTabChange)="onTabClick($event)">
        <mat-tab *ngFor="let warehouse of selectedWarehouses; let index = index">
            <ng-template mat-tab-label>
                <div matTooltip="{{warehouse.name}}">
                    {{warehouse.code+lister.packageRemark}}
                </div>
            </ng-template>
            <div class="tab-content pt-24" fusePerfectScrollbar>
                <olive-order-ship-out-package-lister #lister [warehouse]="warehouse" [warehouses]="item" [index]="index"
                    (reload)="onReload($event)" (packagesCanceled)="onShipOutPackageCanceled()">
                </olive-order-ship-out-package-lister>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>