<form [formGroup]="oForm" (keydown.enter)="false">
  <mat-table [dataSource]="itemsDataSource" formArrayName="formarray">
    <mat-header-row *matHeaderRowDef="displayedColumns">
    </mat-header-row>

    <mat-footer-row *matFooterRowDef="displayedColumns">
    </mat-footer-row>

    <mat-row *matRowDef="let row; columns: displayedColumns; let i=index" #cdkrow [ngClass]="{'highlightrow': (currentRow) && row.ObjId == currentRow.ObjId}"
      (click)="currentRow=row;">
    </mat-row>

    <ng-container matColumnDef="productVariantId">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let row" class="center">{{Id36(row.Obj.productVariantId)}}</mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
        <mat-form-field fxFlex='95%'>
          <input matInput name="inputName{{row.ObjId}}" formControlName="name" (change)="onChange($event)" (keyup)="onKeyup($event)"
            (blur)="onBlur($event)" class="small-font">
          <mat-error *ngIf="hasArrayEntryError('name',i)">{{arrayErrorMessage('name',i)}}</mat-error>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>수량</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i" [matTooltip]="arrayErrorMessage('quantity',i)">
        <mat-form-field fxFlex='95%'>
          <input name="inputQuantity{{row.ObjId}}" class="right" matInput formControlName="quantity"
            (change)="onChange($event)" (keyup)="onKeyup($event)" (blur)="onBlur($event)">
          <mat-error *ngIf="hasArrayEntryError('quantity',i)">{{'common.validate.error' | translate}}</mat-error>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef class="justify-end pr-4">{{totalQuantity|number:'1.0-0'}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="appliedCost">
      <mat-header-cell *matHeaderCellDef>적용가</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i" [matTooltip]="arrayErrorMessage('appliedCost',i)">
        <mat-form-field fxFlex='95%'>
          <input name="inputAppliedCost{{row.ObjId}}" matInput class="right" formControlName="appliedCost" (change)="onChange($event)"
            (keyup)="onKeyup($event)" (blur)="onBlur($event)">
          <mat-error *ngIf="hasArrayEntryError('appliedCost',i)">{{'common.validate.error' | translate}}</mat-error>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>    

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>가격</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i" [matTooltip]="arrayErrorMessage('price',i)">
        <mat-form-field fxFlex='95%'>
          <input name="inputPrice{{row.ObjId}}" matInput class="right" formControlName="price" (change)="onChange($event)" (input)="onInput($event,i)"
            (keyup)="onKeyup($event)" (blur)="onBlur($event)">
          <mat-error *ngIf="hasArrayEntryError('price',i)">{{'common.validate.error' | translate}}</mat-error>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>소계</mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-end pr-16">
        {{row.Obj.price * row.Obj.quantity | money}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef class="justify-end pr-16">{{totalAmount|money}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="otherCurrencyPrice">
      <mat-header-cell [style.display]="otherCurrencyDisplay" *matHeaderCellDef [matTooltip]="poCurrency.name">단가 {{poCurrency.code}}</mat-header-cell>
      <mat-cell [style.display]="otherCurrencyDisplay" *matCellDef="let row, let i=index" [formGroupName]="i" [matTooltip]="arrayErrorMessage('otherCurrencyPrice',i)">
        <mat-form-field fxFlex='95%'>
          <input name="inputOtherCurrencyPrice{{row.ObjId}}" matInput class="right" formControlName="otherCurrencyPrice" (change)="onChange($event)" (input)="onInput($event,i)"
            (keyup)="onKeyup($event)" (blur)="onBlur($event)">
          <mat-error *ngIf="hasArrayEntryError('otherCurrencyPrice',i)">{{'common.validate.error' | translate}}</mat-error>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell [style.display]="otherCurrencyDisplay" *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>    

    <ng-container matColumnDef="remark">
      <mat-header-cell *matHeaderCellDef>Remark</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
        <mat-form-field fxFlex='95%'>
          <input name="inputRemark{{row.ObjId}}" matInput type="text" formControlName="remark" (change)="onChange($event)"
            (keyup)="onKeyup($event)" (blur)="onBlur($event)">
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button [matMenuTriggerFor]="ctxmenu" mat-button color="primary" matTooltip="추가">
          <mat-icon class="mat-button-icon">add</mat-icon>추가
        </button>
        <mat-menu #ctxmenu="matMenu">
            <button mat-menu-item (click)="lookUpProductVariant()">
                <mat-icon>{{productVariantIcon}}</mat-icon>
                <span>{{'common.menu.productLookUp' | translate}}</span>
            </button>
            <button mat-menu-item (click)="lookupPurchaseOrder()">
                <mat-icon>{{purchaseOrderIcon}}</mat-icon>
                <span>{{'common.menu.purchaseOrderLookup' | translate}}</span>
            </button>
        </mat-menu>        
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-center">
        <button mat-icon-button matTooltip="{{'management.Delete' | translate}}" (click)="deleteItem(row)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

  </mat-table>
</form>
