<form [formGroup]="oForm" (keydown.enter)="false">
  <mat-table [dataSource]="dataSource" formArrayName="formArray">
    <mat-header-row *matHeaderRowDef="displayedColumns">
    </mat-header-row>

    <mat-footer-row *matFooterRowDef="displayedColumns">
    </mat-footer-row>

    <mat-row *matRowDef="let row; columns: displayedColumns; let i=index" #cdkrow [ngClass]="{'highlightrow': (currentRow) && row.ObjId == currentRow.ObjId}"
      (click)="currentRow=row;">
    </mat-row>

    <ng-container matColumnDef="productVariantId26">
      <mat-header-cell *matHeaderCellDef>{{'common.tableHeader.productVariantId' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i" [matTooltip]="hasArrayEntryError('productVariantId26',i) ? arrayErrorMessage('productVariantId26',i) : row.Obj['productName']?.name">
        <mat-form-field fxFlex='95%'>
            <input name="inputProductVariantId26{{row.ObjId}}" matInput formControlName="productVariantId26" class="center" readonly="true">
            <mat-error *ngIf="hasArrayEntryError('productVariantId26',i)">{{'common.validate.error' | translate}}</mat-error>
        </mat-form-field>
        <input type="hidden" name="hiddenProductVariantId{{row.ObjId}}" formControlName="hiddenProductVariantId">
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef>{{'common.tableHeader.itemsName' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
        <mat-form-field fxFlex='95%'>
          <input matInput name="inputProductName{{row.ObjId}}" formControlName="productName" (change)="onChange($event, i)" (keyup)="onKeyup($event)"
            (blur)="onBlur($event)" class="olive-error" autocomplete="off" [matAutocomplete]="auto">
          <mat-error *ngIf="hasArrayEntryError('productName',i)">{{arrayErrorMessage('productName',i)}}</mat-error>
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onProductSelected($event, i)">
          <mat-option *ngIf="isLoading" class="is-loading">
              <mat-spinner diameter="50"></mat-spinner>
          </mat-option>
          <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let item of getProducts(i)" [value]="item.productName" [dir]="item.id">{{ item.productName }}
              </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef class="justify-center">
          <button [matMenuTriggerFor]="ctxmenu" mat-button color="primary" matTooltip="{{'common.button.add' | translate}}">
              <mat-icon class="mat-button-icon">add</mat-icon>{{'common.button.add' | translate}}
            </button>
            <mat-menu #ctxmenu="matMenu">
                <button mat-menu-item (click)="lookUpProductVariant()">
                    <mat-icon>{{productVariantIcon}}</mat-icon>
                    <span>{{'common.menu.productLookUp' | translate}}</span>
                </button>
                <button mat-menu-item (click)="lookupPurchaseOrder()">
                    <mat-icon>{{purchaseOrderIcon}}</mat-icon>
                    <span>{{'common.menu.purchaseOrderLookup' | translate}}</span>
                </button>
            </mat-menu>
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>{{'common.tableHeader.quantity' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i" [matTooltip]="arrayErrorMessage('quantity',i)">
        <mat-form-field fxFlex='95%'>
          <input name="inputQuantity{{row.ObjId}}" class="right olive-error" matInput formControlName="quantity"
            (change)="onChange($event, i)" (keyup)="onKeyup($event)" (blur)="onBlur($event)" (input)="updateCosts()" autocomplete="off" [readonly]="!canEditQuantity(row.Obj)">
          <mat-error *ngIf="hasArrayEntryError('quantity',i)">{{'common.validate.error' | translate}}</mat-error>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef class="justify-end pr-4">{{totalQuantity|number:'1.0-0'}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>{{'common.tableHeader.price' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i" [matTooltip]="arrayErrorMessage('price',i)">
        <mat-form-field fxFlex='95%'>
          <input name="inputPrice{{row.ObjId}}" matInput class="right olive-error" formControlName="price" (change)="onChange($event, i)" (input)="updateCosts()"
            (keyup)="onKeyup($event)" (blur)="onBlur($event)" autocomplete="off">
          <mat-error *ngIf="hasArrayEntryError('price',i)">{{'common.validate.error' | translate}}</mat-error>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>{{'purchasing.purchaseOrderItems.amount' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-end pr-16">
        {{numberFormat(row.Obj.price * row.Obj.quantity, standCurrency.decimalPoint)}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef class="justify-end pr-16">{{numberFormat(totalAmount, standCurrency.decimalPoint)}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="discount">
      <mat-header-cell *matHeaderCellDef>{{'purchasing.purchaseOrderItems.discount' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i" [matTooltip]="arrayErrorMessage('discount',i)">
        <mat-form-field fxFlex='95%'>
          <input name="inputDiscount{{row.ObjId}}" matInput class="right olive-error" formControlName="discount" (change)="onChange($event, i)" (input)="updateCosts()"
            (keyup)="onKeyup($event)" (blur)="onBlur($event)" autocomplete="off">
          <mat-error *ngIf="hasArrayEntryError('discount',i)">{{'common.validate.error' | translate}}</mat-error>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>    

    <ng-container matColumnDef="appliedCost">
      <mat-header-cell *matHeaderCellDef>{{'purchasing.purchaseOrderItems.appliedCost' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i" [matTooltip]="arrayErrorMessage('appliedCost',i)">
        <mat-form-field fxFlex='95%'>
          <input name="inputAppliedCost{{row.ObjId}}" matInput class="right olive-error" formControlName="appliedCost" (change)="onChange($event, i)"
            (keyup)="onKeyup($event)" (blur)="onBlur($event)" autocomplete="off">
          <mat-error *ngIf="hasArrayEntryError('appliedCost',i)">{{'common.validate.error' | translate}}</mat-error>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="otherCurrencyPrice">
      <mat-header-cell [style.display]="otherCurrencyDisplay" *matHeaderCellDef [matTooltip]="poCurrency.name">{{'purchasing.purchaseOrderItems.otherCurrencyPrice' | translate}} {{poCurrency.code}}</mat-header-cell>
      <mat-cell [style.display]="otherCurrencyDisplay" *matCellDef="let row, let i=index" [formGroupName]="i" [matTooltip]="arrayErrorMessage('otherCurrencyPrice',i)">
        <mat-form-field fxFlex='95%'>
          <input name="inputOtherCurrencyPrice{{row.ObjId}}" matInput class="right olive-error" formControlName="otherCurrencyPrice" (change)="onChange($event, i)" (input)="updateCosts()"
            (keyup)="onKeyup($event)" (blur)="onBlur($event)" autocomplete="off">
          <mat-error *ngIf="hasArrayEntryError('otherCurrencyPrice',i)">{{'common.validate.error' | translate}}</mat-error>
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell [style.display]="otherCurrencyDisplay" *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>    

    <ng-container matColumnDef="remark">
      <mat-header-cell *matHeaderCellDef>{{'common.tableHeader.remark' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row, let i=index" [formGroupName]="i">
        <mat-form-field fxFlex='95%'>
          <input name="inputRemark{{row.ObjId}}" matInput type="text" formControlName="remark" (change)="onChange($event, i)"
            (keyup)="onKeyup($event)" (blur)="onBlur($event)" autocomplete="off">
        </mat-form-field>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-button color="primary" matTooltip="{{'common.button.addRow' | translate}}" (click)="newItem()">
            <mat-icon class="mat-button-icon">add</mat-icon>{{'common.button.addRow' | translate}}
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="{{'common.button.addRow' | translate}}" (click)="newItem()">
            <mat-icon color="accent">playlist_add</mat-icon>
        </button> 
        <button mat-icon-button matTooltip="{{'common.button.delete' | translate}}" 
          (click)="deleteItem(row)" [disabled]="!canEditQuantity(row.Obj)">
          <mat-icon [ngClass]="{'foreground-red': canEditQuantity(row.Obj), 'foreground-disabled': !canEditQuantity(row.Obj)}">delete</mat-icon>
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>&nbsp;</mat-footer-cell>
    </ng-container>

  </mat-table>
  <mat-error *ngIf="showNoItemCreatedError">{{'common.message.noItemCreated' | translate}}</mat-error>

  <div class="entry-max-width">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em" class="justify-end">
    <div flex style="width: 120px">
      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>{{'common.word.freight' | translate}}</mat-label>
        <input matInput name="freightAmount" formControlName="freightAmount" required class="right" (input)="updateCosts()" autocomplete="off">
        <mat-error *ngIf="hasEntryError('freightAmount')">{{errorMessage('freightAmount')}}</mat-error>
      </mat-form-field>
    </div>
    <div flex style="width: 120px">
      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>{{'purchasing.purchaseOrderItems.addedDiscount' | translate}}</mat-label>
        <input matInput name="addedDiscountAmount" formControlName="addedDiscountAmount" required class="right" (input)="updateCosts()" autocomplete="off">
        <mat-error *ngIf="hasEntryError('addedDiscountAmount')">{{errorMessage('addedDiscountAmount')}}</mat-error>
      </mat-form-field>
    </div>
    <div flex style="width: 120px">
      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>{{'common.word.tax' | translate}}</mat-label>
        <input matInput name="taxAmount" formControlName="taxAmount" required class="right" (input)="updateCosts()" autocomplete="off">
        <mat-error *ngIf="hasEntryError('taxAmount')">{{errorMessage('taxAmount')}}</mat-error>
      </mat-form-field>
    </div>
    <div flex *ngIf="extraAmount != 0" style="width: 120px">
      <mat-form-field appearance="outline" class="w-100-p">
        <mat-label>{{'purchasing.purchaseOrderItems.finalAmount' | translate}}</mat-label>
        <input matInput readonly="true" class="right" [value]="numberFormat(paymentAmount, standCurrency.decimalPoint)" autocomplete="off">
      </mat-form-field>
    </div>    
  </div>
  </div>
</form>
