:host {
    .is-loading ::ng-deep .mat-option-text {
        display: flex;
        justify-content: center;
    }

    .right {
        text-align: right;
    }

    .center {
        text-align: center;
    }

    .justify-end {
        justify-content: flex-end;
    }

    .justify-center {
        justify-content: center;
    }

    .mat-table {
        width: 1100px;
    }

    .mat-column-name {
        flex: 0 1 490px;
    }

    .mat-column-productVariantId26 {
        flex: 0 1 90px;
    }

    .mat-column-quantity {
        flex: 0 1 50px;
    }

    .mat-column-price {
        flex: 0 1 85px;
    }

    .mat-column-appliedCost {
        flex: 0 1 85px;
    }

    .mat-column-discount {
        flex: 0 1 70px;
    }    

    .mat-column-amount {
        flex: 0 1 100px;
    }

    .mat-column-otherCurrencyPrice {
        flex: 0 1 85px;
    }

    .mat-column-remark {
        flex: 0 1 75px;
    }

    .mat-column-actions {
        flex: 0 1 70px;
        justify-content: center;
        padding: 0px;
    }

    .small-font {
        font-size: 10px;
    }

    .highlightrow {
        background: cornsilk;
    }

    .mat-input-element.ng-invalid.ng-touched.olive-error {
        border: 1px solid red;
        color: red;
    }

    // 아이콘 크기 반으로 줄임 
    ::ng-deep button.mat-icon-button{
        height:24px !important;
        width:24px !important;
        font-size:24px !important;
    }
    
    // 행추가 버튼 넓이 줄이기
    ::ng-deep button.mat-button {
        padding: 0px;        
    }
}