:host {
  .right {
    text-align: right;
  }

  .mat-column-productVariantId {
    flex: 0 1 75px;
  }

  .end {
    justify-content: flex-end;
  }

  .center {
    justify-content: center;
  }  

  .mat-column-quantity {
    flex: 0 1 75px;
  }

  .mat-column-price {
    flex: 0 1 85px;
  }

  .mat-column-amount {
    flex: 0 1 100px;
  }

  .mat-column-remark {
    flex: 0 1 75px;
  }

  .mat-column-actions {
    flex: 0 1 75px;
  }

  .small-font {
    font-size: 10px;
  }
 
}
