:host {
  .right {
    text-align: right;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .justify-center {
    justify-content: center;
  }  

  .mat-table {
    min-width: 700px;
    max-width: 1000px;
  }

  .mat-column-productVariantId {
    flex: 0 1 75px;
  }

  .mat-column-quantity {
    flex: 0 1 94px;
  }

  .mat-column-price {
    flex: 0 1 85px;
  }

  .mat-column-amount {
    flex: 0 1 100px;
  }

  .mat-column-remark {
    flex: 0 1 75px;
  }

  .mat-column-actions {
    flex: 0 1 70px;
  }

  .small-font {
    font-size: 10px;
  }
}