  <mat-form-field appearance="outline" class="w-100-p" [floatLabel]="floatLabels" fxFlex>
    <mat-label>{{placeholder}}</mat-label>
    <input matInput #lookupCtrl [formControl]="lookupName" [readonly]="true" [value]="getValue()" [type]="type" [id]="id"  
    (change)="onChange($event)" (keyup)="onKeyup($event)" (blur)="onBlur($event)" (dblclick)="lookUp()"/>
    <span matPrefix *ngIf="isEditMode"><mat-icon class="secondary-text link-cursor" (click)="lookUp()">zoom_in</mat-icon>&nbsp;&nbsp;</span>
    <mat-error *ngIf="lookupName.hasError('required')">
      {{'common.validate.required' | translate}}
    </mat-error>
  </mat-form-field>

